<ng-template [ngIf]="type === 'lemgram'">
  <span>{{basePart}}</span><sup *ngIf="index !== 1">{{indexPart}}</sup>&nbsp;(<span>{{translations[posPart] | loc}}</span>) 
  <a 
    [href]="'https://spraakbanken.gu.se/karp/#?mode=DEFAULT&search=extended%7C%7Cand%7Clemgram%7Cequals%7C'+data"
    target="_blank"
    (click)="clickedKarp($event)">
    <img
      class="karp_logo"
      src="assets/karplogo.png"
    />
  </a>
</ng-template>

<ng-template [ngIf]="type === 'sense'">
    <span>{{basePart}}</span><sup *ngIf="index !== 1">{{indexPart}}</sup>
    <a 
      [href]="'https://spraakbanken.gu.se/karp/#?mode=DEFAULT&search=extended%7C%7Cand%7Csense%7Cequals%7C'+data"
      target="_blank"
      (click)="clickedKarp($event)">
      <img
        class="karp_logo"
        src="assets/karplogo.png"
      />
    </a>
</ng-template>

<ng-template [ngIf]="type !== 'lemgram' && type !== 'sense'">
  <span *ngIf="translations && translations[stringPart]" [tooltip]="confidence" placement="left" container="body">{{translations[stringPart] | loc}}</span>
  <span *ngIf="!translations || !translations[stringPart]" [tooltip]="confidence" placement="left" container="body">{{stringPart}}</span>
</ng-template>