<div class="readerLoading" *ngIf="isLoading">
  <i class="fa fa-spinner fa-pulse"></i>&nbsp;Laddar...
</div>
<div class="readerArea">
  <!--<table>
    <tbody>
      <tr>
        <td *ngFor="let m of cmViews;let i = index" class="text_area">
          <div class="text_left_column">
            <div class="text_header">
              <span class="text_title">{{titles[i]}}</span>
              <div class="close_box" (click)="closeDocument()">
                <i class="fa fa-times"></i>
              </div>
            </div>
            <cm
              [style.width.px]="width"
              (onSelectionChange)="onSelectionChange($event)"
              (onFocus)="onFocus($event)"
              (onScrollInDocument)="onScrollInDocument($event)"
              (onKeydown)="onKeydown($event)"
              [index]="i"></cm>
            <div class="text_footer">
              <span class="add_bookmark" (click)="addBookmark(i)">
                <i class="fa fa-underline"></i>
              </span>
              <div class="right_control" (click)="showSidebar = ! showSidebar;resizeReader()">
                <i class="fa fa-bars"></i>
              </div>
              <span class="selection_info">
                Markering av token {{selectionStartTokenID}} till {{selectionEndTokenID}}. 
              </span>
            </div>
          </div>
          <div class="text_right_column" *ngIf="showSidebar">
            <div class="bookmark" *ngFor="let bookmark of bookmarks" (click)="gotoBookmark(i, bookmark)">
              <i *ngIf="bookmark.type === 'user'" class="fa fa-bookmark"></i>
              <i *ngIf="bookmark.type === 'highlight'" class="fa fa-flag" style="color:#337ab7"></i>
              &nbsp;{{bookmark.text}}
            </div>
          </div>
          
        </td>
      </tr>
    </tbody>
  </table>-->
  <cm *ngIf="cmViews.length !== 0"
    [style.width.px]="width"
    (onSelectionChange)="onSelectionChange($event)"
    (onFocus)="onFocus($event)"
    (onScroll)="onViewportChange($event)"
    (onKeydown)="onKeydown($event)"
    [index]="0"></cm>
  <accordion closeOthers="true" class="right_accordion" *ngIf="cmViews.length !== 0">
    <accordion-group [isOpen]="accordionOpen === 'HITS'">
      <div accordion-heading>
        <i class="fa fa-search"></i> Sökträffar <span *ngIf="bookmarks.length > 0">({{bookmarks.length}})</span>
      </div>
      <div class="text_right_column" *ngIf="cmViews.length !== 0" class="bookmarks_area">
        <div class="bookmark" *ngFor="let bookmark of bookmarks" (click)="gotoBookmark(0, bookmark)">
          <i *ngIf="bookmark.type === 'user'" class="fa fa-bookmark"></i>
          <i *ngIf="bookmark.type === 'highlight'" class="fa fa-flag" style="color:#337ab7"></i>
          &nbsp;{{bookmark.text}}
        </div>
      </div>
    </accordion-group>
    <accordion-group heading="Textattribut" [isOpen]="accordionOpen === 'TEXTATTRIBUTES'">
      <div class="text_annotations_list">
         <ul class="annotations_list_ul">
          <li *ngFor="let annotation of availableCorpora[mainDocument.corpusID].textAttributes">
            <span [ngSwitch]="annotation.set || false">
              <span *ngSwitchCase="true">
                {{annotation.name}}:<br/>
                <ul>
                  <li
                    *ngFor="let item of mainDocument.textAttributes[annotation.name]">
                    {{item}}
                  </li>
                </ul>
              </span>
              <span
                *ngSwitchCase="false">
                {{annotation.name}}: {{mainDocument.textAttributes[annotation.name]}}
              </span>
            </span>
          </li>
        </ul>
      </div>
    </accordion-group>
    <accordion-group heading="Strukturella attribut" [isOpen]="accordionOpen === 'STRUCTURALATTRIBUTES'">
      <div
        class="token_annotations_list"
        *ngIf="!isLoading && showBox && singleWordSelection">
        <div *ngFor="let annotationGroup of availableCorpora[mainDocument.corpusID].structAttributes">
          <div *ngIf="currentAnnotations[annotationGroup.name]">
            <em>{{annotationGroup.name}}</em>
            <ul class="annotations_list_ul indent">
              <li *ngFor="let annotation of annotationGroup.attributes">
                <span [ngSwitch]="annotation.set || false">
                  <span *ngSwitchCase="true">
                    {{annotation.name}}:<br/>
                    <ul>
                      <li
                        *ngFor="let item of currentAnnotations[annotationGroup.name].attrs[annotation.name]"
                        (click)="changeAnnotationHighlight(annotation.name, item, 'set')"
                        class="highlightable_annotation">
                        {{item}}
                      </li>
                    </ul>
                  </span>
                  <span
                    *ngSwitchCase="false"
                    (click)="changeAnnotationHighlight(annotation.name, currentAnnotations[annotation.name]);readerCommunicationService.changeAnnotationHighlight(annotation.name, currentAnnotations[annotation.name])"
                    class="highlightable_annotation">
                    {{annotation.name}}: {{currentAnnotations[annotationGroup.name].attrs[annotation.name]}}
                  </span>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div *ngIf="!singleWordSelection">
        <i>markera ett ord för att se dess attribut</i>
      </div>
    </accordion-group>
      <!--<span *ngIf="selection">selection from line {{selection.startRow+1}} to {{selection.endRow+1}}</span><br/>
      <span *ngIf="selection">selection from char {{selection.startChar+1}} to {{selection.endChar+1}}</span><br/>
      <span *ngIf="selection">token {{selectionStartTokenID}} to {{selectionEndTokenID}}</span>-->
    <accordion-group heading="Ordattribut" [isOpen]="accordionOpen === 'TOKENATTRIBUTES'">
      <div
        class="token_annotations_list"
        *ngIf="!isLoading && showBox && singleWordSelection">
        <ul class="annotations_list_ul">
          <li *ngFor="let annotation of availableCorpora[mainDocument.corpusID].wordAttributes">
            <span [ngSwitch]="annotation.set">
              <span *ngSwitchCase="true">
                {{annotation.name}}:<br/>
                <ul>
                  <li
                    *ngFor="let item of currentAnnotations[annotation.name]"
                    (click)="changeAnnotationHighlight(annotation.name, item, 'set')"
                    class="highlightable_annotation">
                    {{item}}
                  </li>
                </ul>
              </span>
              <span
                *ngSwitchCase="false || undefined"
                (click)="readerCommunicationService.changeAnnotationHighlight(annotation.name, currentAnnotations[annotation.name])"
                class="highlightable_annotation">
                {{annotation.name}}: {{currentAnnotations[annotation.name]}}
              </span>
            </span>
          </li>
        </ul>
      </div>
      <div *ngIf="!singleWordSelection">
        <i>markera ett ord för att se dess attribut</i>
      </div>
    </accordion-group>
  </accordion>
</div>