:host {
  display: block;
  max-height: 120vh;
}

.all_texts_area {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}



.text_area {
  position: relative;
} 

.readerLoading {
  background-color: #f7f7f7;
  padding: 20px;
  width: 800px;
}

ul {
  list-style-type: none;
  list-style-position: outside;
}

/* .text_left_column {
  width: auto;
}
.text_right_column {
  width: 100%;
} */

/* Desktop */
@media screen and (min-width: 601px) {
  .text_left_column {
    margin-right: 200px;
  }
  .CodeMirror {
    margin-right: 200px;
  }
}
/* Mobile */
@media screen and (max-width: 600px) {
  .text_left_column {
    margin-right: 0px;
  }
  .text_right_column {
    display: none;
  }
  .CodeMirror {
    margin-right: 0px;
  }
}

/* .bookmarks_area {
  overflow: hidden;
}

.bookmark {
  font-size: small;
  font-style: italic;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
} */

.readerArea {
  overflow-x: auto;
  position: relative;
  height: 100%;
  max-height: 120vh;
  border: 1px solid #ddd;
}

.readerAreaP {
  overflow-x: auto;
  position: relative;
  height: 100%;
  max-height: 120vh;
  border: 1px solid #ddd;
}

.attributeArea {
  display: flex; 
  align-items: baseline; 
  justify-content: space-between; 
  flex-wrap: wrap; 
  padding: 0px;
  border: 1px solid #ddd;
}

/* .text_header {
  width: 100%;
  background: #f7f7f7;
  border: 1px solid #ddd;
  border-left: 0px;
  font-size: larger;
  padding: 2px;
}
.text_header span {
  color: gray;
} */
/* .text_title {
  margin-left: 4px;
}
.right_control {
  float: right;
  margin-right: 4px;
  cursor: pointer;
}
.close_box {
  float: right;
  margin-right: 4px;
  cursor: pointer;
}
.text_footer {
  width: 100%;
  height: 22px;
  background: #f7f7f7;
  border: 1px solid #ddd;
  border-left: 0px;
  padding-left: 4px;
}
.text_footer span {
  color: gray;
}
.add_bookmark {
  cursor: pointer;
} */

.right_accordion {
  /* background-color: #f7f7f7; */
  /* width: inherit; */
  /* height: 100%; */
  padding: 20px;
  position: absolute;
  top: 0px;
  right: 0px;
  overflow: auto;
  max-height: 59vh;
  margin-bottom: 0px;
}

.token_annotations_list {
  width: 100%;
}

.highlightable_annotation {
  cursor: pointer;
  color: #086788;
}

.empty {
  font-style: italic;
  font-weight: normal !important;
  color: #888;
  background-color: #eee;
}

.annotations_list_ul {
  padding-left: 0px;
}

.closeBox {
  float: right;
  margin-right: 6px;
  cursor: pointer;
}

.goto_left {
  cursor: pointer;
}
.goto_right {
  cursor: pointer;
}

.annotations_local_area {
  margin-bottom: 2px;
  display: inherit;
}
.annotation_title {
  font-weight: bold;
  font-variant: all-small-caps;
  background-color: #eee;
  width: 100%;
  display: block;
  border-bottom: 1px solid #ddd;
}
.annotations_list {
  padding-left: 0px;
}

.empty_span {
  font-variant: italic;
  color: #ddd;
}

.text_annotations_list {
  font-family: "Source Sans Pro",Helvetica,Arial,Verdana,sans-serif;
  font-size: small;
}

.token_annotations_list {
  font-family: "Source Sans Pro",Helvetica,Arial,Verdana,sans-serif;
  font-size: small;
}

::ng-deep .attributeArea .right_accordion .mat-expansion-panel {
  margin: 0;
}

::ng-deep .attributeArea .right_accordion .mat-expansion-panel-content {
  max-height: 50vh;
  overflow: auto;
}

::ng-deep .attributeArea .right_accordion {
  width: inherit !important;
}

::ng-deep .readerAreaP .CodeMirror-sizer {
  width: 666px !important;
}