<div class="box-container">
    <div *ngIf="showMessage" style="padding: 20px; font-size: 14px;">
        <span><b style="color:red">Note: </b><i>{{ showMessage }}</i></span>
        <!-- <ul style="padding: 20px 20px 20px 50px;">
            <li *ngFor="let item of excludeList"><i>{{ item | loc }}</i></li>
        </ul> -->
    </div>
    <div class="row" style="min-height: inherit;" *ngIf="!showMessage">
        <div class="col-md-2 scrollData" style="padding-left: 20px; border-right: 1px solid #ddd;">
            <mat-selection-list #wordAnno [multiple]="false">
                <mat-list-option *ngFor="let item of currentFacets" [value]="item.key" (click)="getFacetData(item.key)">
                    {{ item.key | loc }}
                </mat-list-option>
            </mat-selection-list>
        </div>
        <div class="col-md-10" style="display: block; padding-top: 12px; padding-right: 4px;">
            <div style="height: 50px; border: 1px solid #ddd; width: 97%; border-radius: 10px; background: cadetblue; padding: 15px; margin-left: 14px;">
                <span>{{ currentSelection | loc }}</span>
            </div>
            <section style="width: 96%; max-width: 96%; overflow: auto; margin-left: 20px;">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="border: 1px solid #ddd">
                    <ng-container [matColumnDef]="displayedColumns[0]" sticky>
                        <th mat-header-cell *matHeaderCellDef title="{{displayedColumns[0] | loc}}"> {{displayedColumns[0] | loc}}</th>
                        <td mat-cell *matCellDef="let element"> {{element[displayedColumns[0]]}} </td>
                        </ng-container>
                    <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns.slice(1)">
                        <th mat-header-cell *matHeaderCellDef title="{{column | loc}}"> {{(column | loc).split(' ').splice(0,1).join(' ')}}... </th>
                        <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </section>
            <mat-paginator (page)="handlePageEvent($event)" [pageSizeOptions]="[10]" aria-label="Select page of users"></mat-paginator>     
        </div>
    </div>
</div>