.box-container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e3e6f0;
  border-radius: 0.35rem;
  padding: 0px 10px 4px 10px;
  min-height: 70vh;
  height: auto;
}

/* .scrollData {
  overflow: scroll;
} */

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: small;
  width: 100%;
}

.mat-cell {
  font-size: small;
}
  
  /* td, th {
    width: 300px;
  } */

td.mat-column-star {
  width: 20px;
  padding-right: 8px;
}

th.mat-column-position, td.mat-column-position {
  padding-left: 8px;
}

.mat-mdc-table-sticky-border-elem-right {
  border-left: 1px solid #e0e0e0;
}

.mat-mdc-table-sticky-border-elem-left {
  border-right: 1px solid #e0e0e0;
}

.mat-elevation-z8 {
  box-shadow: none;
}

::ng-deep .mat-list-text {
  overflow: visible !important;
  font-size: 12px !important;
}

.mat-list-single-selected-option {
  background: #a3c8ca;
}

.mat-header-cell {
  background: #a3c8ca !important;
}