<div class="doc_header" *ngIf="documentTitle">
  <b>{{corpusName | loc}}: {{documentTitle}}</b>
  <div class="close_box" (click)="closeDocument()">
    <i class="fa fa-times fa-border"></i>
  </div>
</div>
<div class="tools_area">
  <!--<div class="tools_list">
    <a (click)="showAnnotationsSelector = true">Annoteringar</a>
  </div>-->
  <div class="actual_tools">
    <!--<annotations-selector [hidden]="!showAnnotationsSelector"></annotations-selector>-->
    <annotations-selector></annotations-selector>
  </div>
  
</div>