<div class="left_column">
  
  <div (click)="reloadStrix()" class="logo_block">
    <img src="assets/strix_logo.png"/>
  </div>
  
  <minidocselection *ngIf="openDocument"></minidocselection>
  
  <div class="filters_area" *ngIf="!openDocument && gotMetadata">
    <div 
        *ngFor="let aggregationKey of aggregationKeys" 
        class="aggregation_list">

        <h4>{{aggregationKey | loc}}</h4>
        <ng-container [ngSwitch]="aggregations[aggregationKey].type">

          <multicomplete 
            *ngSwitchCase="'multicomplete'"
            [locConf]="guessConfFromAttributeName(aggregationKey)"
            [buckets]="aggregations[aggregationKey].buckets"
            (onSelect)="chooseBucket(aggregationKey, $event)"
            (onRemove)="purgeFilter(aggregationKey, $event)"

          ></multicomplete>

          <ng-template [ngSwitchCase]="'list'">
            <ul class="">
              <li class="aggregation_item" *ngFor="let bucket of aggregations[aggregationKey].buckets" [ngClass]="{selected : bucket.selected}">
                <div (click)="chooseBucket(aggregationKey, bucket)" *ngIf="!bucket.selected">{{getLocString(aggregationKey, bucket.key) | loc:bucket.key}} ({{bucket.doc_count | prettynumber}})</div>
                
                <div class="filter_btn btn-sm btn-success d-block text-left" *ngIf="bucket.selected" (click)="purgeFilter(aggregationKey, bucket)">
                  <span class="label">{{getLocString(aggregationKey, bucket.key) | loc:bucket.key}}&nbsp;</span>
                  <span class="labelremove">Ta bort filter</span>

                  <div class="purge_filter_button pull-right"><i class="fa fa-times-circle"></i></div>
                </div>
              </li>
            </ul>
          </ng-template>

          <ng-template [ngSwitchCase]="'range'">
            {{aggregations[aggregationKey].value}}
            <nouislider [connect]="true" [min]="0" [max]="15" [(ngModel)]="aggregations[aggregationKey].value"></nouislider>
          </ng-template>
        </ng-container>
      
        <div *ngIf="aggregations[aggregationKey].buckets.length > 20; else defaultItem">
          
          
        
          <!-- <ng-select [multiple]="true"
                        [active]="getSelectActive(aggregationKey)"
                        [items]="getSelectArray(aggregationKey)"
                        (data)="dropdownRefresh($event, aggregationKey)"
                        (selected)="dropdownSelected($event)"
                        (removed)="dropdownRemoved($event)"
                        placeholder="Inget filter valt"></ng-select> -->

        </div>
        

        <ng-template #defaultItem>
          <h4>{{aggregationKey | loc}}</h4>
          
        </ng-template>
      </div>

      <div *ngIf="unusedFacets.length" class="unused_facets">
        <h5>Visa fler filter</h5>
        <ul>
          <li *ngFor="let key of unusedFacets" (click)="addFacet(key)" class="aggregation_item">{{key | loc}}</li>
        </ul>
      </div>

  </div>
</div>