:host {
  background: linear-gradient(to bottom, rgba(100,100,100,1) 0%,rgba(40,40,40,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  box-shadow: 2px 3px 8px grey;
  border-right: 1px solid grey;
  display: block;
  min-height : 100vh;
  height: 100%;
}

:host:before {
  display: block;
  height: 4px;
  background-color : #F0C808;
  content: "";
}

h3,h4,h5 {
  color : white;
}
h4::first-letter {
  text-transform: uppercase;
}
.unused_facets h5 {
  font-variant: small-caps;
  text-transform: lowercase;
  font-size: 0.9em;
  margin-top: 2em;
}
.unused_facets ul {
  font-size : 0.8em;
}


.filters_area {
  padding: 10px;
}

.corpus_item {
  cursor: pointer;
}
.aggregation_list {
  margin-top: 10px;
}
.aggregation_item {
  cursor: pointer;
}
.purge_aggregation_button {
  cursor: pointer;
  display: block;
  position: static;
  right: 2px;
}
.purge_corpus_button {
  cursor: pointer;
  display: inline-block;
}

.selected_frame {
  /*border: 1px solid black;*/
  padding-left: 4px;
  padding-right: 4px;
  background-color: #f1f8fc;
  box-shadow: 1px 1px grey;
}

.logo_block {
  cursor: pointer;
  margin: 2em 0 1em 0;
}
.logo_block img {
  display: block;
  margin: 0 auto;
}

/deep/ .ui-select-match-item {
  max-width: 100%;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

/deep/ .ui-select-choices-row > a {
  padding-left : 10px !important;
}