ul {
  padding: 2px;
}
li {
  list-style-type: none;
  padding-left: 0px;
  border-bottom: 1px dotted black;
}
li:last-child {
  border-bottom: 0px;
}
.filters_area {
  padding: 10px;
}
.corpus_item {
  cursor: pointer;
}
.selected {
  font-weight: bold;
}

.language_choice {
  margin-top: 2px;
  margin-left: 4px;
}
.language_choice a {
  cursor: pointer;
}
