<span>{{'color_mark_attribute' | loc}}&nbsp;</span>

<div dropdown class="dropdown annotation-dropdown">
  <button dropdownToggle class="btn btn-secondary dropdown-toggle" aria-controls="dropdown-basic">
    {{(selectedAnnotationStructuralType === 'token' ? 'word_attributes' : selectedAnnotationStructuralType) | loc}}
  </button>
  <div *dropdownMenu class="dropdown-menu">
    <span class="dropdown-item"
          (click)="selectAnnotationStructuralType('token')">
      {{'word_attributes' | loc}}
    </span>

    <div class="dropdown-divider"></div>
    <h4 class="dropdown-header">{{getTranslation('structural_attributes')}}</h4>

    <span class="dropdown-item"
          *ngFor="let item of structuralAnnotations"
          (click)="selectAnnotationStructuralType(item.name)">
       {{item.name | loc}}
    </span>
  </div>
</div>

<div dropdown class="dropdown annotation-dropdown"
     *ngIf="selectedAnnotationStructuralType === 'token'">
  <button dropdownToggle class="btn btn-secondary dropdown-toggle" aria-controls="dropdown-basic">
    {{getAnnotationTranslation() || 'no_choice' | loc}}
  </button>
  <div *dropdownMenu class="dropdown-menu">
    <span class="dropdown-item"
          *ngFor="let item of wordAnnotations"
          (click)="selectAnnotation(item.name)">
      {{item.translation_name | loc}}
    </span>
  </div>
</div>

<div dropdown class="dropdown annotation-dropdown"
     *ngIf="selectedAnnotationStructuralType !== 'token'">
  <button dropdownToggle class="btn btn-secondary dropdown-toggle" aria-controls="dropdown-basic">
    {{getAnnotationTranslation() || 'no_choice' | loc}}
  </button>
  <div *dropdownMenu class="dropdown-menu">
    <span class="dropdown-item"
          *ngFor="let item of getStructuralAttributeGroup(selectedAnnotationStructuralType).attributes"
          (click)="selectAnnotation(item.name, selectedAnnotationStructuralType)">
      {{item.translation_name | loc}}
    </span>
  </div>
</div>

<input
  *ngIf="selectedAnnotation"
  [(ngModel)]="selectedAnnotationValue"
  [typeahead]="annotationValues"
  (typeaheadOnSelect)="selectAnnotationValue(selectedAnnotationValue)"
  typeaheadOptionField="key"
  [typeaheadItemTemplate]="itemTemplate"
  [placeholder]="'Välj från lista (' + pretty(annotationValues.length) + ' alternativ)'"
  [typeaheadMinLength]="0"
  [typeaheadOptionsLimit]="500"
  class="form-control annotation-typeahead">
<ng-template #itemTemplate let-item="item">
  <!--{{item.key}} ({{item.doc_count | prettynumber}})-->
  <annotation
    [data]="item.key"
    [translations]="getAnnotationTranslation()"
    [type]="getAnnotationType()"
    [noKarp]="true"></annotation> ({{item.doc_count | prettynumber}})
  
</ng-template>
<button *ngIf="selectedAnnotationValue" (click)="goToPreviousAnnotation()">
  <i class="fa fa-arrow-left"></i>
</button>
<button *ngIf="selectedAnnotationValue" (click)="goToNextAnnotation()">
  <i class="fa fa-arrow-right"></i>
</button>
