<span>{{'color_mark_attribute' | loc}}&nbsp;</span>
<select
  class="form-control annotation-dropdown"
  (change)="selectAnnotationStructuralType($event.target.value)"
  [ngModel]="selectedAnnotationStructuralType">
  <!--<optgroup [label]="word_attributes_label">-->
    <option value="token">{{'word_attributes' | loc}}</option>
  <!--</optgroup>-->
  <optgroup [label]="'-'+getTranslation('structural_attributes')+':'">
    <option *ngFor="let item of structuralAnnotations" value="{{item.name}}">{{item.name | loc}}</option>
  </optgroup>
</select>
<select
  class="form-control annotation-dropdown"
  *ngIf="selectedAnnotationStructuralType === 'token'"
  (change)="selectAnnotation($event.target.value)"
  [ngModel]="selectedAnnotation" >
  <option value="undefined" selected hidden disabled>&lt;{{'no_choice' | loc}}&gt;</option>
  <option *ngFor="let item of wordAnnotations" value="{{item.name}}">{{item.translation_name | loc}}</option>
</select>
<select
  class="form-control annotation-dropdown"
  *ngIf="selectedAnnotationStructuralType !== 'token'"
  (change)="selectAnnotation($event.target.value, selectedAnnotationStructuralType)"
  [ngModel]="selectedAnnotation">
    <option value="undefined" selected hidden disabled>&lt;{{'no_choice' | loc}}&gt;</option>
    <option *ngFor="let item of getStructuralAttributeGroup(selectedAnnotationStructuralType).attributes" value="{{item.name}}">{{item.translation_name | loc}}</option>
  </select>
<!--<select (change)="selectAnnotationValue($event.target.value)" [ngModel]="selectedAnnotationValue" *ngIf="selectedAnnotation && !useTypeahead">
  <option *ngFor="let item of annotationValues" value="{{item.key}}">{{item.key}}</option>
</select>-->
<input
  *ngIf="selectedAnnotation"
  [(ngModel)]="selectedAnnotationValue"
  [typeahead]="annotationValues"
  (typeaheadOnSelect)="selectAnnotationValue(selectedAnnotationValue)"
  typeaheadOptionField="key"
  [typeaheadItemTemplate]="itemTemplate"
  [placeholder]="'Välj från lista (' + pretty(annotationValues.length) + ' alternativ)'"
  [typeaheadMinLength]="0"
  [typeaheadOptionsLimit]="500"
  class="form-control annotation-typeahead">
<ng-template #itemTemplate let-item="item">
  <!--{{item.key}} ({{item.doc_count | prettynumber}})-->
  <annotation
    [data]="item.key"
    [translations]="getAnnotationTranslation()"
    [type]="getAnnotationType()"
    [noKarp]="true"></annotation> ({{item.doc_count | prettynumber}})
  
</ng-template>
<button *ngIf="selectedAnnotationValue" (click)="goToPreviousAnnotation()">
  <i class="fa fa-arrow-left"></i>
</button>
<button *ngIf="selectedAnnotationValue" (click)="goToNextAnnotation()">
  <i class="fa fa-arrow-right"></i>
</button>