<select
  (change)="selectAnnotationStructuralType($event.target.value)"
  [ngModel]="selectedAnnotationStructuralType">
  <optgroup label="Ordattribut">
    <option value="token">ordattribut</option>
  </optgroup>
  <optgroup label="Strukturella attribut">
    <option *ngFor="let item of structuralAnnotations" value="{{item.name}}">{{item.name}}</option>
  </optgroup>
</select>
<select
  *ngIf="selectedAnnotationStructuralType === 'token'"
  (change)="selectAnnotation($event.target.value)"
  [ngModel]="selectedAnnotation" >
  <option *ngFor="let item of wordAnnotations" value="{{item.name}}">{{item.name}}</option>
</select>
<select
  *ngIf="selectedAnnotationStructuralType !== 'token'"
  (change)="selectAnnotation($event.target.value, selectedAnnotationStructuralType)"
  [ngModel]="selectedAnnotation">
    <option *ngFor="let item of getStructuralAttributeGroup(selectedAnnotationStructuralType).attributes" value="{{item.name}}">{{item.name}}</option>
  </select>
<!--<select (change)="selectAnnotationValue($event.target.value)" [ngModel]="selectedAnnotationValue" *ngIf="selectedAnnotation && !useTypeahead">
  <option *ngFor="let item of annotationValues" value="{{item.key}}">{{item.key}}</option>
</select>-->
<input
  *ngIf="selectedAnnotation"
  [(ngModel)]="selectedAnnotationValue"
  [typeahead]="annotationValues"
  (typeaheadOnSelect)="selectAnnotationValue(selectedAnnotationValue)"
  typeaheadOptionField="key"
  [typeaheadItemTemplate]="itemTemplate"
  [placeholder]="'Välj från lista (' + annotationValues.length + ' alternativ)'"
  [typeaheadMinLength]="0"
  [typeaheadOptionsLimit]="500"
  class="form-control annotation-typeahead">
<ng-template #itemTemplate let-item="item">
  {{item.key}} ({{item.doc_count}})
  
</ng-template>
<button *ngIf="selectedAnnotationValue" (click)="goToPreviousAnnotation()">
  <i class="fa fa-arrow-left"></i>
</button>
<button *ngIf="selectedAnnotationValue" (click)="goToNextAnnotation()">
  <i class="fa fa-arrow-right"></i>
</button>