/* .docselection {
    
} */

.no_hits_area {
  margin: 16px;
}
.hits_area {
}
.hits_left_column {
  padding-bottom: 3em;
}
.hits_right_column {
  /*padding: 16px;*/
  /*height: 100%;*/
  border: 1px solid #ddd;
  /*margin-left: 12px;*/
  /*border-radius: 4px;*/
}
.hits_inner {
  /*max-height: 400px;*/
  overflow: auto;
}
.hit_area {
  /*padding: 2px;
  margin-bottom: 2px;
  border: 1px solid #ddd;*/
}
.hit_document_title {
  font-size: 1.1em;
}
.hit_collection_title {
  font-variant: small-caps;
  color: #777;
  text-transform: lowercase;
}
.hit_document_body {
}
.hit_appendix {
}
.hit_open_in_new {
  color: #337ab7;
  cursor: pointer;
}
.hit_information {
  color: #337ab7;
  cursor: pointer;
}
.before_highlight {
  font-size: small;
}
.at_highlight {
  font-weight: bold;
}
.after_highlight {
  font-size: small;
}

.corpora_area {
  width: 500px;
}

.dots {
  color: lightgray;
}