<div class="docselection" *ngIf="show">

   <div class="no_hits_area" *ngIf="hasSearched && documentsWithHits.length === 0">
    <alert type="danger" dismissible="true">
      Inga funna dokument.
    </alert>
  </div>

  <div class="hits_area" *ngIf="documentsWithHits.length > 0">
    <div class="hits_header">
      <span>Hittade {{totalNumberOfDocuments}} dokument.</span><br/>
      <pagination
        [totalItems]="totalNumberOfDocuments"
        [itemsPerPage]="10"
        [maxSize]="10"
        [(ngModel)]="currentPaginatorPage"
        (pageChanged)="paginatorPageChanged($event)"
        class="pagination-sm"></pagination>
    </div>
    <div class="hits_left_column">
      <div class="hits_inner list-group">
        <div class="hit_area list-group-item" *ngFor="let doc of documentsWithHits; let i = index">
          <div class="hit_document_header">
            <span class="hit_document_title">
              <a (click)="openDocument(i)">{{doc.title}}</a>
            </span>
            <!--<span class="badge">
              {{doc.highlights.length}}
            </span>-->
          </div>
          <div class="clear"></div>
          <div class="hit_document_body">
              <span *ngFor="let highlight of doc.highlight.highlight; let l = last" [innerHTML]="highlight">
                <br *ngIf="last"/> <!-- ??? -->
              </span>
          </div>
          <div class="hit_appendix">
            <span class="hit_collection_title">
              {{doc.collectionTitle}}
            </span>&nbsp;
            <span class="hit_open_in_new" (click)="openDocumentInNew(i)">
              <i class="fa fa-plus-square"></i>
            </span>&nbsp;
            <span class="hit_information" (click)="displayCorpusInfo(i)">
              <i class="fa fa-info-circle"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="hits_right_column">
      <div *ngFor="let attribute of textAttributes">
        {{attribute.key}}: {{attribute.value}}
      </div>
    </div>
  </div>
</div>