<div class="docselection col" *ngIf="show">
<div class="hitsSide">
  <div class="no_hits_area" *ngIf="zeroSelectDoc === 'empty' && documentsWithHits.length === 0 && currentState > 1">
    <alert type="danger" dismissible="true">
      {{ 'select_corpus' | loc }}
    </alert>
  </div>
   <div class="no_hits_area" *ngIf="hasSearched && documentsWithHits.length === 0 && zeroSelectDoc === 'not empty' && currentState > 2">
    <alert type="danger" dismissible="true">
      {{ 'no_doc_found' | loc }}
    </alert>
  </div>
  <div style="height: 10px; padding-top: 50px;"  *ngIf="docHits && zeroSelectDoc === 'not empty'">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <span style="display: inline-flex; width: 560px; padding-left: 20px;">
      {{ 'load_documents' | loc }}
    </span>
  </div>
  <div class="hits_area" *ngIf="documentsWithHits.length > 0 && showData">
    <div class="hits_header row flex-column">
      <div class="docView">
        <div class="paginatorClass">
          <mat-paginator 
          [length]="totalNumberOfDocuments" 
          [pageSize]="itemsPerPage" 
          [pageSizeOptions]="[10, 15, 20, 25]"
          [pageIndex]="currentPaginatorPage"
          (page)="paginatorPageChanged($event)"
          showFirstLastButtons>
          </mat-paginator>
        </div>
      </div>
      <li class="divider dropdown-divider" style="width: 98.5%;"></li>
    </div>
    <div class="hits_left_column row" *ngIf="gotMetadata">
      <div class="hits_inner list-group" style="padding-left: 24px; width: 100%;">
        <div class="hit_area list-group-item" *ngFor="let doc of documentsWithHits; let i = index"  style="padding: 1px 2px 1px 8px; width: 98%;">
          <div class="box-container">
            <div class="row">
              <div class="col-xl-2">
                <div class="font-weight-ligh">{{ 'title' | loc }}:</div>
              </div>
              <div class="col-xl-9">
                <a style="color:lightseagreen" tabindex (click)="openDocument(i)">{{doc.title}}</a>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-2">
                <div class="font-weight-ligh">Text:</div>
              </div>
              <div class="col-xl-10">
                <div class="hit_document_body">
                  <ng-template [ngIf]="doc.highlight">
                    <span *ngFor="let highlight of doc.highlight; let l = last" [innerHTML]="highlight+'&nbsp;'">
                      <br *ngIf="last"/> <!-- ??? -->
                    </span>
                  </ng-template>
                  <ng-template [ngIf]="doc.preview">
                    <span>
                      {{doc.preview}} <span class="dots">...</span>
                    </span>
                  </ng-template>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="doc.corpus_id === 'jubileumsarkivet-pilot'">
              <div class="col-xl-2">
                <div class="font-weight-ligh">{{ 'newspaper' | loc }}:</div>
              </div>
              <div class="col-xl-9">
                <span>{{doc.text_attributes.newspaper}}</span>
              </div>
            </div>
            <div class="row" *ngIf="doc.mode_id !== 'so'">
              <div class="col-xl-2">
                <div class="font-weight-ligh">{{ 'yearS' | loc }}:</div>
              </div>
              <div class="col-xl-9" *ngIf="doc.text_attributes.year !== '2050'">
                <span>{{doc.text_attributes.year}}</span>
              </div>
              <div class="col-xl-9" *ngIf="doc.text_attributes.year === '2050'">
                <span>{{'NA'}}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-2">
                <div class="font-weight-ligh">{{ 'tokens' | loc }}:</div>
              </div>
              <div class="col-xl-9">
                <span>{{doc.word_count.toLocaleString('number_format' | loc)}} {{ 'token' | loc }}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-2">
                <div class="font-weight-ligh">{{ 'corpusName' | loc }}:</div>
              </div>
              <div class="col-xl-9" style="display: flex;">
                <div class="hit_appendix">
                  <span class="hit_collection_title">
                    {{ availableCorpora[doc.corpus_id].name | loc }}
                  </span>&nbsp;
                </div>
              </div>
            </div>
            
            <div class="row">
              <div class="col-xl-2">
                <div class="font-weight-ligh">{{ 'related_documents' | loc }}:</div>
              </div>
              <div class="col-xl-9" style="display: flex;">
                <button class="closeButton" mat-button (click)="addTab(i, 'currentCorpus')" style="margin-right: 10px;" *ngIf="(availableCorpora[doc.corpus_id].name | loc).split(' ').length > 3">{{ (availableCorpora[doc.corpus_id].name | loc).split(' ').splice(0,3).join(' ') }}...<mat-icon style="font-size: 20px;">tab</mat-icon></button>
                <button class="closeButton" mat-button (click)="addTab(i, 'currentCorpus')" style="margin-right: 10px;" *ngIf="(availableCorpora[doc.corpus_id].name | loc).split(' ').length <= 3">{{ (availableCorpora[doc.corpus_id].name | loc) }} <mat-icon style="font-size: 20px;">tab</mat-icon></button>
                <button class="closeButton" mat-button (click)="addTab(i, 'currentMode')">{{ 'selected_related' | loc }} <mat-icon style="font-size: 20px;">tab</mat-icon></button> <!--availableCorpora[doc.corpus_id].mode-->
              </div>
            </div>
            <div class="row" *ngIf="doc.most_common_words && doc.mode_id !== 'so'">
              <div class="col-xl-2">
                <div class="font-weight-ligh">{{ 'mostCommonNoun' | loc }}:</div>
              </div>
              <div class="col-xl-10" style="display: inline-flex; flex-wrap: wrap">
                <span *ngFor="let item of doc.most_common_words.split(', ') | slice:0:10; let i = index;">
                  <i *ngIf="i < doc.most_common_words.split(', ').length-1 && i < 9" style="padding-right: 10px;">{{item}},</i>
                  <i *ngIf="i == 9">{{item}}</i>
                  <i *ngIf="i == doc.most_common_words.split(', ').length-1 && i < 10">{{item}}</i>
                </span>
              </div>
            </div>
            <div class="row" *ngIf="doc.ner_tags && doc.mode_id !== 'so'">
              <div class="col-xl-2">
                <div class="font-weight-ligh">{{ 'ners' | loc }}:</div>
              </div>
              <div class="col-xl-10" style="display: inline-flex; flex-wrap: wrap">
                <span *ngFor="let item of doc.ner_tags.split(', ') | slice:0:5; let i = index;">
                  <i *ngIf="i < doc.ner_tags.split(', ').length-1 && i < 4" style="padding-right: 10px;">{{item}},</i>
                  <i *ngIf="i == 4">{{item}}</i>
                  <i *ngIf="i == doc.ner_tags.split(', ').length-1 && i < 5">{{item}}</i>
                </span>
              </div>
            </div>
            <div class="row" *ngIf="doc.mode_id === 'detektivaavdelningen'">
              <div class="col-xl-2">
                <div class="font-weight-ligh">{{ 'source_link' | loc }}:</div>
              </div>
              <div class="col-xl-9">
                <span>
                  <a [href]="doc.text_attributes.url" target="_blank" style="color: chocolate;">
                    {{doc.text_attributes.url}}<mat-icon style="font-size: small; padding-left: 4px;">launch</mat-icon></a>
                </span>
              </div>
            </div>
            <div class="row" *ngIf="doc.mode_id === 'so'">
              <div class="col-xl-2">
                <div class="font-weight-ligh">{{ 'source_link' | loc }}:</div>
              </div>
              <div class="col-xl-9">
                <span>
                  <a [href]="doc.link" target="_blank" style="color: chocolate;">
                    {{doc.title.split(' ')[0]}} {{doc.title.split(' ')[1]}} <mat-icon style="font-size: small; padding-left: 4px;">launch</mat-icon></a>
                </span>
              </div>
            </div>
          </div> 
        </div>
      </div>
    </div>
    <div class="hits_right_column col-md-3" *ngIf="textAttributes.length">
      <div *ngFor="let attribute of textAttributes">
        {{attribute.key}}: {{attribute.value}}
      </div>
    </div>
  </div>
</div>
<div class="filterSide">
  <filterdata></filterdata>
</div>
</div>
