.docselection {
  padding-left: 0px; 
  padding-right: 0px; 
  display: inline-flex; 
  justify-content: space-between;
}

.no_hits_area {
  margin: 16px;
}
.list-group-item {
  border: 0px solid rgba(0,0,0,.125);;
}
.hits_area {
  font-size: small;
}
.hits_left_column {
  padding-bottom: 1em;
}
.hits_right_column {
  /*padding: 16px;*/
  /*height: 100%;*/
  border: 1px solid #ddd;
  /*margin-left: 12px;*/
  /*border-radius: 4px;*/
}
.hits_inner {
  /*max-height: 400px;*/
  overflow: auto;
}
/* .hit_area {
  padding: 2px;
  margin-bottom: 2px;
  border: 1px solid #ddd;
} */

/* .hit_document_title {
  font-size: 1.1em;
  line-height: 1.5;
} */
.hit_collection_title {
  font-variant: small-caps;
  color: #777;
  text-transform: lowercase;
}
.hit_document_body {
}
.hit_appendix {
}
/* .hit_open_in_new {
  color: #337ab7;
  cursor: pointer;
}
.hit_information {
  color: #337ab7;
  cursor: pointer;
}
.before_highlight {
  font-size: small;
}
.at_highlight {
  font-weight: bold;
}
.after_highlight {
  font-size: small;
}

.corpora_area {
  width: 500px;
} */

.dots {
  color: lightgray;
}

::ng-deep .pagination-sm .page-item .page-link {
  color: lightslategray;
}

::ng-deep .page-item.active .page-link {
  background-color: #69d3f6;
  border-color: #69d3f6;
} 

::ng-deep .bs-popover-right {
  display: block;
  width: 300px !important;
  height: auto !important;
  border: solid 1px rgb(71, 70, 70);
  border-radius: 5px;
  text-align: left;
  padding: 10px;
  margin: 0;
  top: -50px !important;
  right: 100px !important;
  left: 300px !important;
  position: absolute;
}

  /*.bs-popover-top .arrow, 
  .bs-popover-bottom .arrow {
      margin-left: -8px;
  }
  .bs-popover-left .arrow,*/
::ng-deep .bs-popover-right .arrow {
    display: none;
  }

.box-container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e3e6f0;
  border-radius: 0.35rem;
  padding: 10px;
}

.filterSide {
  width: 28%;
  /* border: 0.5px solid #eeeeee; */
  padding-top: 0px;
  padding-right: 4px;
}

.hitsSide {
  width: 70%;
  border: 0.5px solid #eeeeee;
}

::ng-deep .filterSide .mat-form-field-appearance-outline .mat-form-field-flex {
  background-color: cadetblue !important;
  border-radius: 4px;
}

::ng-deep .mat-select-panel {
  min-width: 18.5vw !important;
}

::ng-deep .filterSide .mat-expansion-panel-content .mat-expansion-panel-body {
  padding: 10px !important;
}

::ng-deep .no_hits_area .alert-danger {
  background-color: wheat;
}

/* ::ng-deep .filterSide .mat-expansion-panel-content .mat-expansion-panel-body .tableView{
  padding: 0px !important;
} */

.mat-expansion-panel {
  background-color: cadetblue;
}

.paginatorClass {
  padding-top: 0px;
  padding-bottom: 4px;
  min-width: 98.8%;
}

.mat-paginator {
  background-color: #F8F9F9!important; /* #eeeeee; */ /* #d9eaeb; */
  border-radius: 2px;
  height: 51px;
}

/* .example-viewport[_ngcontent-c2] {
  position: relative;
  overflow: auto;
  height: 250px;
  width: 100%;
  border: 1px solid #ccc;
}

.example-viewport {
  position: relative;
  overflow: auto;
  max-height: 200px;
  height: 200px;
  width: 100%;
  border: 1px solid #ccc;
}

.charge-table {
  padding: 5px;
  white-space: nowrap;
  border-right: 1px solid #AAAAAA;
  border-bottom: 1px solid #AAAAAA;
  background-color: white;
  text-align: left;
  vertical-align: bottom;
}
.charge-table {
  font-family: "Source Sans Pro",Helvetica,Arial,Verdana,sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.charge-table td,
.charge-table th {
  border: 1px solid #ddd;
  padding: 4px;
  font-style: normal;
  font-size: small;
}
.charge-table tr:nth-child(even) {
  background-color: #f2f2f2;
}
.charge-table tr:hover {
  background-color: #ddd;
}
.charge-table th {
  font-weight: bold;
  padding-top: 1px;
  padding-bottom: 1px;
  text-align: left;
  background-color: #eae7dc;
}
.charge-table thead tr th {
position: -webkit-sticky;
position: -moz-sticky;
position: -ms-sticky;
position: -o-sticky;
position: relative;
top: 0;
} */

/* .mostCommonWords {
  max-width: fit-content;
  padding: 0px 4px 0px 4px;
  height: 20px;
  border-radius: 4px;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-right: 10px;
} */

.docView {
  display: inline-flex; 
  padding-top: 0%; 
  padding-left: 0px;
}

/* .searchBox {
  display: inline-block; 
  height: 51px; 
  background-color: #eeeeee; 
  width:100%; 
  border-radius: 2px;
} */

/* .viewRight {
  display: inline-block; 
  padding: 20px 10px 10px 20px; 
  font-size: small;
} */

/* .tableGraph {
  display: flex; 
  align-items: baseline; 
  justify-content: space-between; 
  flex-wrap: wrap; 
  padding: 20px;
}

.accordionView {
  width: 100%; 
  padding-bottom: 10px;
}

.graphChart {
  display: block; 
  padding-bottom: 20px; 
  padding-top: 10px;
} */

.closeButton {
  padding: 0px 10px 0px 10px;
  font-size: small;
  font-weight: 400;
  background-color: lightblue;
  height: 29px;
  align-items: center;
  display: flex;
  /* margin-right: 20px;
  margin-left: 20px; */
}
