<div class="left_column d-none d-lg-block col-3"> 
  <leftcolumn></leftcolumn>
</div>
<div class="right_column col-lg-9">
  <div class="header">
    <div *ngIf="!loggedIn" class="login pull-right"><a (click)="gotoLogin()">{{'login' | loc}}</a></div>
    <div class="language_choice pull-right">
      <span *ngFor="let lang of languages;let f = first">
        <span *ngIf="!f"> | </span><a class="link" [ngClass]="{selected: selectedLanguage === lang, disabled : selectedLanguage === lang}" (click)="changeLanguageTo(lang)">{{lang}}</a>
      </span>
    </div>
  </div>
  <search *ngIf="!openDocument"></search> <!-- should we really have *ngIf="!openDocument" ? It looses the metadata when closing a document...-->
  <div class="row">
    <docselection class="col-lg-9" [style.display]="(!openDocument)?'block':'none'" ></docselection><!-- We can't use ngIf because we want the component to stay in memory -->
    <div *ngIf="!openDocument" class="logos d-none d-lg-block col-3 align-self-right">
      <div><a href="https://spraakbanken.gu.se"><img src="assets/sb_logo.jpg" alt=""></a></div>
      <div><a href="https://sweclarin.se"><img src="assets/sweclarin_logo.png" alt=""></a></div>
    </div>
  </div>
  <indocsearch *ngIf="openDocument"></indocsearch>
  <header *ngIf="openDocument" style="flex: 0 1 auto"></header>
  <reader [hidden]="!openDocument"></reader>
  <!-- <start-panel *ngIf="!openDocument"></start-panel> -->
  <!--<div class="bottom_bar" *ngIf="openDocument">
    
  </div>-->
</div>
