.header {
  padding: 0 1em;
  height : 6px;
}


.left_column {
  /*display: inline-block;*/
  
  width: 250px;
  /*height: 100vh;*/
  height: 100%;
  min-height: 100vh;
}

.right_column {
  /*background-color: brown;*/
  height: 100vh;
  display: flex;
  flex-direction: column;
}

reader {
  height: 100%;
}

.bottom_bar {
  flex: 0 1 50px;
  /*background-color: coral*/
  width: 100%;
  border-top: 1px solid #999;
  background-color: #f7f7f7;
  padding: 12px;
}

