<div class="container-fluid">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="modeSetting">
      <modeselection></modeselection>
    </div>
    <div class="topRight">
      <ul class="navbar-nav" style="display: flex; gap: 10px; align-items: baseline;">
        <li class="nav-item"><a (click)="loginStatus === 'login' ? gotoLogin() : gotoLogout()">{{ loginStatus | loc}}</a></li>
        <!-- <li class="nav-item"><a style="padding-left: 10px;" (click)="gotoLogout()">{{'logout' | loc}}</a></li> -->
        <li class="nav-item"><a [style.color]="this.selectSwe ? 'blue' : 'black'" (click)="changeLanguageTo('swe')">{{getLangchange('swe')}}</a></li>
        <li class="nav-item"><a [style.color]="this.selectEng ? 'blue' : 'black'" (click)="changeLanguageTo('eng')">{{getLangchange('eng')}}</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="display: flex;">
            {{'topMenu' | loc}} <mat-icon style="height: 10px; width: 10px;">view_headline</mat-icon>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">{{ 'aboutS' | loc }}</a>
            <a class="dropdown-item" title="Korp" href="https://spraakbanken.gu.se/korp/" target="_blank">Korp</a>
            <a class="dropdown-item" title="Sparv" href="https://spraakbanken.gu.se/sparv/" target="_blank">Sparv</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <div class="topnav row">
    <div class="strixLogo col-3" title="Strix SB" (click)="reloadStrix()">
      <img width="90" src="assets/strix_logo.png"/>
    </div>
    <div class="col-md-5" style="padding: 34px 0px 10px 50px; height: inherit;"> <!--width: 56%; margin-left: auto; margin-right: 25%;-->
      <dataselection [changeDisable]="listTabs[selectedTab.value] === 'Hits'?'false':'true'"></dataselection>
    </div>
    <div class="d-none d-lg-block col-lg-4" style="height: inherit; margin-left: auto; margin-right: 0; padding: 20px 0px 0px 0px;"> <!--padding-right: 8px;-->
      <a title="Göteborgs Universitet" href="https://gu.se/" target="_blank" style="padding: 35px 0px 0px 10px; float: right;"><img width="20" src="assets/guLogo.png" alt=""></a>
      <a title="Swe-Clarin" href="https://sweclarin.se" target="_blank" style="padding: 30px 9px 0px 10px; float: right;"><img width="40" src="assets/sweClarin.png" alt=""></a>
      <a title="Språkbanken" href="https://spraakbanken.gu.se/" target="_blank" style="padding: 20px 0px 0px 0px; float: right;"><img width="240" src="assets/sbText.svg" alt=""></a>
    </div>
  </div>
  <div class="statDiv" [hidden]="openDocument || listTabs[selectedTab.value] !== 'Hits'">
    <statcolumn class="statColumn"></statcolumn>
  </div>
  <mat-tab-group [selectedIndex]="selectedTab.value"
               (selectedIndexChange)="selectedTab.setValue($event)" [hidden]="openDocument">
    <mat-tab *ngFor="let tab of listTabs; let index = index" [label]="tab + index">
      <ng-template mat-tab-label>
        <div class="col" *ngIf="tab === 'Hits'">{{'hits' | loc}}</div>
        <div class="col" *ngIf="tab === 'Statistic'">{{'statSelection' | loc}}</div>
        <div class="col" *ngIf="tab !== 'Hits' && tab !== 'Statistic'">{{tab}}</div>
        <button *ngIf="tab !== 'Hits' && tab !== 'Statistic'" style="color:black" mat-icon-button (click)="removeTab(index)">
          <mat-icon>close</mat-icon>
        </button>
      </ng-template>
      <div class="mainContent" *ngIf="tab === 'Hits'">
        <div class="fixDoc">
          <div class="right_column" style="padding: 0%; min-height: 1100px;" [style.width]="(!openDocument)?'100%':'100%'">
            <div class="row" style="margin-left: 0px; margin-right: 0px;">
              <docselection class="col-lg-12" [style.display]="(!openDocument)?'block':'none'" style="padding: 0px;"></docselection>
            </div>
          </div>
        </div>
      </div>
      <div class="mainContent" *ngIf="tab === 'Statistic'">
        <div class="fixDoc">
          <div class="right_column" style="padding: 0%; min-height: 1100px;" [style.width]="(!openDocument)?'100%':'100%'">
              <docstatistic></docstatistic>
          </div>
        </div>
      </div>
      <div class="mainContent" *ngIf="tab !== 'Hits' && tab !== 'Statistic'">
        <similardocs [data]="similarParam" [relatedDocSelection]="relatedDocType" style="padding: 4px 15px 0px 15px;"></similardocs>       
      </div>
    </mat-tab>
  </mat-tab-group>
  <div class="mainContent" [hidden]="!openDocument">
    <div class="fixDoc">
      <div class="right_columnX" style="padding: 0%; min-height: 1100px;" [style.width]="(!openDocument)?'100%':'100%'">
        <div [hidden]="!getDocRunning">
          <mat-tab-group>
            <mat-tab label="{{'doc_view' | loc}}">
              <header style="flex: 0 1 auto; padding: 4px 15px 4px 15px;"></header>
              <div class="tools_area">
                <div class="actual_tools">
                  <annotations-selector></annotations-selector>
                </div>
              </div>
              <indocsearch></indocsearch>
              <reader></reader>
            </mat-tab>
            <mat-tab label="{{'doc_stat' | loc}}">
              <header style="flex: 0 1 auto; padding: 4px 15px 4px 15px;"></header>
              <document-statistic></document-statistic>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</div>