<div class="container-fluid">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="modeSetting">
      <modeselection></modeselection>
    </div>
    <div class="topRight">
      <ul class="navbar-nav" style="display: flex; gap: 10px; align-items: inherit;">
        <!-- * Info func *  
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownInfo" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="display: flex;">
            <mat-icon style="height: 20px; width: 20px;">notifications</mat-icon>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownInfo" style="width: 400px;">
            <h6 style="padding: 10px;">Strix information center</h6>
            <div class="row" style="margin-left: 20px; margin-right: 20px; font-size: small; font-weight: 400; padding: 10px;">
              <div class="col-xl-12" style="display: inline-grid;">
                <span *ngFor="let item of getStrixInfo | keyvalue">
                  <span>{{item.key | loc}}</span>
                  <ul>
                    <li *ngFor="let x of item.value | keyvalue">{{x.value | loc}}
                    </li>
                  </ul>
                </span>
              </div>
            </div>
          </div>
        </li> -->
        <li class="nav-item"><a (click)="loginStatus === 'login' ? gotoLogin() : gotoLogout()">{{ loginStatus | loc}}</a></li>
        <!-- <li class="nav-item"><a style="padding-left: 10px;" (click)="gotoLogout()">{{'logout' | loc}}</a></li> -->
        <li class="nav-item"><a [style.color]="this.selectSwe ? 'chocolate' : 'black'" (click)="changeLanguageTo('swe')">{{getLangchange('swe')}}</a></li>
        <li class="nav-item"><a [style.color]="this.selectEng ? 'chocolate' : 'black'" (click)="changeLanguageTo('eng')">{{getLangchange('eng')}}</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="display: flex; padding-left: 0px;">
            {{'topMenu' | loc}} <mat-icon style="height: 10px; width: 10px;">view_headline</mat-icon>
          </a> 
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">{{ 'aboutS' | loc }}</a>
            <!-- <a class="dropdown-item" title="Korp" href="https://spraakbanken.gu.se/karp/" target="_blank">Karp <img width="28" src="assets/karp.svg"/></a>
            <a class="dropdown-item" title="Sparv" href="https://spraakbanken.gu.se/korp/" target="_blank">Korp <img width="28" src="assets/korp.svg"/></a>
            <a class="dropdown-item" title="Korp" href="https://spraakbanken.gu.se/mink/" target="_blank">Mink <img width="28" src="assets/mink.svg"/></a>
            <a class="dropdown-item" title="Sparv" href="https://spraakbanken.gu.se/sparv/" target="_blank">Sparv <img width="24px;" margin-bottom="4px;" src="assets/sparv.svg"/></a> -->
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <div class="topnav row">
    <div class="strixLogo col-2 col-md-2" title="Strix SB" (click)="reloadStrix()">
      <a *ngIf="selectedLanguage === 'swe'" style="padding: 0px;"><img width="200" src="assets/strix_slogan.svg"/></a>
      <a *ngIf="selectedLanguage === 'eng'" style="padding: 0px;"><img width="200" src="assets/strix_slogan_en.svg"/></a>
    </div>
    <div class="d-none d-md-block col-6 col-md-5" style="padding: 30px 30px 10px 80px; height: inherit;"> <!--width: 56%; margin-left: auto; margin-right: 25%;-->
      <dataselection [changeDisable]="listTabs[selectedTab.value] === 'Hits'?'false':'true'"></dataselection>
    </div>
    <div class="d-none d-xl-block col-xl-5" style="height: inherit; margin-left: auto; margin-right: -15px; padding: 0px 0px 0px 0px;"> <!--padding-right: 8px;-->
      <a title="Göteborgs Universitet" href="https://gu.se/" target="_blank" style="padding: 0px 0px 0px 10px; float: right;"><img width="90" src="assets/gu_logo_hack.png" alt=""></a>
      <!-- <a title="Swe-Clarin" href="https://sweclarin.se" target="_blank" style="padding: 30px 9px 0px 10px; float: right;"><img width="40" src="assets/sweClarin.png" alt=""></a> -->
      <a *ngIf="selectedLanguage === 'swe'" title="Språkbanken" href="https://spraakbanken.gu.se/" target="_blank" style="padding: 24px 10px 0px 0px; float: right;"><img width="300" src="assets/sprakbanken_text_slogan.svg" alt=""></a>
      <a *ngIf="selectedLanguage === 'eng'" title="Språkbanken" href="https://spraakbanken.gu.se/" target="_blank" style="padding: 24px 10px 0px 0px; float: right;"><img width="300" src="assets/sprakbanken_text_slogan_en.svg" alt=""></a>
    </div>
  </div>
  <div class="statDiv" [hidden]="openDocument">
    <statcolumn class="statColumn"></statcolumn>
  </div>
  <div [hidden]="hideHome" style="font: 400 14px / 20px Roboto, Helvetica Neue, sans-serif;">
    <div style="height: 50px; background-color: #d9eaeb;"></div>
    <div class="row" style="height: 350px; padding: 40px;">
      <div class="col-xl-6" style="padding-right: 100px;">
        <span *ngIf="selectedLanguage === 'eng'"><b>Strix</b> is Språkbanken's text research platform. All documents in Strix have been annotated by our analysis platform <a href="https://spraakbanken.gu.se/sparv" target="_blank" style="color: chocolate;">Sparv</a> at word, sentence and text level.<br><br>
          With Strix you can:<br><br>
          <ul>
            <!-- <li>Visualize a full document with <a href="https://spraakbanken.gu.se/sparv" target="_blank" style="color: chocolate;">Sparv</a> analysis on word, sentence and text level.</li> -->
            <li>Search from a diverse collection of corpora and narrow down the documents using filters.</li>
            <li>View statistics and graphs for selected corpora and documents.</li>
            <li>Explore related documents using document vector search built on KBLab's KB-SBERT sentence transformers.</li>
            <li>Visualize and search in those analyzes produced by Sparv.</li>
          </ul>
          Technical report and user manual will be available soon.
          <br><br>
          For any questions or comments, contact us at <a style="color: chocolate;">sb-info@svenska.gu.se</a>
        </span>
        <span *ngIf="selectedLanguage === 'swe'"><b>Strix</b> är Språkbankens textforskningsplattform. Alla dokument i Strix har berikas av vår analysplattform <a href="https://spraakbanken.gu.se/sparv" target="_blank" style="color: chocolate;">Sparv</a> på ord-, menings- och textnivå.<br><br>
          Med Strix kan du:<br><br>
          <ul>
            <!-- <li>Visualisera hela dokument med vår analysplattform <a href="https://spraakbanken.gu.se/sparv" target="_blank" style="color: chocolate;">Sparv</a> på ord-, menings- och textnivå.</li> -->
            <li>Söka i en bred samling av korpusar och begränsa dina träffar med hjälp av filter.</li>
            <li>Se statistik och grafer för valda korpusar och dokument. </li>
            <li>Utforska liknande dokument genom vektorsökning byggd på KB-Labbs KB-SBERT meningstransformatorer</li>
            <li>Visualisera och söka i de analyser som Sparv producerar.</li>
          </ul>
          Tekniskt dokumentation och användarmanual kommer snart att finnas.
          <br><br>
          För frågor och kommentarer, kontakta <a style="color: chocolate;">sb-info@svenska.gu.se</a>
        </span>
      </div>
      <div class="col-xl-6">
        <h4><b>{{ 'search_examples' | loc }}</b></h4>
        <ul>
          <li>{{ 'simple_search' | loc }}
            <ul>
              <li style="padding-bottom: 4px;">{{ 'word' | loc }}: <a (click)="gotoQuery('klimat', 'single', 'simple')" style="color: chocolate;"><i>klimat</i></a> {{ '_in' | loc }} {{ availableCorpora['vivill'] | loc }}</li>
              <li style="padding-bottom: 4px;">{{ 'exact_w_p' | loc }}: <a  (click)="gotoQuery('rödgröna partier', 'quotes', 'simple')" style="color: chocolate;"><i>"rödgröna partier"</i></a> {{ '_in' | loc }} {{ availableCorpora['vivill'] | loc }}</li>
              <li style="padding-bottom: 4px;">{{ 'multi_word' | loc }}: <a (click)="gotoQuery('klimat politik', 'multiple', 'simple')" style="color: chocolate;"><i>klimat politik</i></a> {{ '_in' | loc }} {{ availableCorpora['vivill'] | loc }}</li>
            </ul>
          </li>
          <li style="padding-top: 10px;">{{ 'vector_search' | loc }}
            <ul>
              <li style="padding-bottom: 4px;">{{ 'word' | loc }}: <a href="https://spraakbanken.gu.se/strixlabb/?vectorQuery=klimat&filters=corpus_id:vivill&search_type=vector" target="_blank" style="color: chocolate;"><i>klimat</i></a> {{ '_in' | loc }} {{ availableCorpora['vivill'] | loc }}</li>
              <li style="padding-bottom: 4px;">{{ 'Sentence' | loc }}: <a href="https://spraakbanken.gu.se/strixlabb/?vectorQuery=Våra%20barn%20kommer%20att%20fråga%20oss%20vad%20vi%20gjorde%20när%20vi%20insåg%20vidden%20av%20klimathot%20och%20miljöförstöring.&filters=corpus_id:vivill&search_type=vector" target="_blank" style="color: chocolate;"><i>Våra barn kommer att fråga oss vad vi gjorde när vi insåg vidden av klimathot och miljöförstöring.</i></a> {{ '_in' | loc }} {{ availableCorpora['vivill'] | loc }}</li>
              <li style="padding-bottom: 4px;">{{ 'Document' | loc }}</li>
            </ul>
          </li>
        </ul>
        
      </div>
    </div>
    <div class="row" style="height: 400px; padding: 40px;">
      <div class="col-xl-6">
        <h4><b>{{ 'recent_corpora' | loc }}</b></h4>
        <ul>
          <li style="padding-bottom: 4px;">
            <a (click)="gotoCorpora('default', 'vivill')" style="color: chocolate;">{{ availableCorpora['vivill'] | loc }}</a>
          </li>
          <li style="padding-bottom: 4px;">
            <a (click)="gotoCorpora('default', 'wikipedia-sv-demo')" style="color: chocolate;">{{ availableCorpora['wikipedia-sv-demo'] | loc }}</a>
          </li>
          <li style="padding-bottom: 4px;">
            <a (click)="gotoCorpora('detektivaavdelningen', 'detektivaavdelningen')" style="color: chocolate;">{{ availableCorpora['detektivaavdelningen'] | loc }}</a>
          </li>
          <li style="padding-bottom: 4px;">
            <a (click)="gotoCorpora('lb', 'lb-open-demo')" style="color: chocolate;">{{ availableCorpora['lb-open-demo'] | loc }}</a>
          </li>
        </ul>
      </div>
      <div class="col-xl-4">
        <h4><b>{{ 'news' | loc }}</b></h4>
        <ul>
          <li *ngIf="selectedLanguage === 'eng'" style="padding-bottom: 4px;">Strix beta version is available for testing
            <span style="font: 200 14px / 20px Roboto, Helvetica Neue, sans-serif; float: right; color: lightgray;">2024-06-12</span>
            <div style="font: 400 14px / 20px Roboto, Helvetica Neue, sans-serif; padding-top: 10px;">
              New features:
              <ul>
                <li><i>Maps</i></li>
                <li><i>D3 bubble graphs</i></li>
                <li><i>Document vector search</i></li>
              </ul>
            </div>
          </li>
          <li *ngIf="selectedLanguage === 'swe'" style="padding-bottom: 4px;">Strix betaversion är tillgänglig för testning
            <span style="font: 200 14px / 20px Roboto, Helvetica Neue, sans-serif; float: right; color: lightgray;">2024-06-12</span>
            <div style="font: 400 14px / 20px Roboto, Helvetica Neue, sans-serif; padding-top: 10px;">
              Nya funktioner:
              <ul>
                <li><i>Kartor</i></li>
                <li><i>D3 bubbelgraf</i></li>
                <li><i>Dokument vektor sökning</i></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div [hidden]="!hideHome">
  <mat-tab-group [selectedIndex]="selectedTab.value"
               (selectedIndexChange)="selectedTab.setValue($event)" [hidden]="openDocument" 
               [ngStyle]="{'display': !activeVectorSearch ? 'block' : 'none'}">
    <mat-tab *ngFor="let tab of listTabs; let index = index" [label]="tab + index">
      <ng-template mat-tab-label>
        <div class="col" *ngIf="tab === 'Hits'" (click)="updateView('hits')">{{'hits' | loc}}</div>
        <div class="col" *ngIf="tab === 'Statistics'" (click)="updateView('statistics')">{{'statSelection' | loc}}</div>
        <div class="col" *ngIf="tab === 'Overview' && selectedCorpus.length > 0" (click)="showOverview(); updateView('overview')">{{'overview' | loc}}</div>
        <div class="col" *ngIf="tab !== 'Hits' && tab !== 'Overview' && tab !== 'Statistics' && tab.slice(0,2) === '--'">{{'hits' | loc}} - {{tab.slice(2).slice(0,-1) | loc}}</div>
        <div class="col" *ngIf="tab !== 'Hits' && tab !== 'Overview' && tab !== 'Statistics' && tab.slice(0,2) === '++' && tab.slice(0,2) !== '--'">{{'hits' | loc}} - {{tab.slice(2).slice(0,-1)}}</div>
        <div class="col" *ngIf="tab !== 'Hits' && tab !== 'Overview' && tab !== 'Statistics' && tab.slice(0,2) !== '++' && tab.slice(0,2) !== '--'">{{tab}}</div>
        <button *ngIf="tab !== 'Hits' && tab !== 'Overview' && tab !== 'Statistics'" style="color:black" mat-icon-button (click)="removeTab(index)">
          <mat-icon>close</mat-icon>
        </button>
      </ng-template>
      <div class="mainContent" *ngIf="tab === 'Hits'">
        <div style="height: 10px; padding-top: 50px;"  *ngIf="triggerLoading">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          <span style="display: inline-flex; width: 560px; padding-left: 20px; font-size: small;">
            {{ 'wait_load' | loc }}
          </span>
        </div>
        <div class="fixDoc">
          <div class="right_column" style="padding: 0%; min-height: 1100px;" [style.width]="(!openDocument)?'100%':'100%'">
            <div class="row" style="margin-left: 0px; margin-right: 0px;">
              <docselection class="col-lg-12" [style.display]="(!openDocument)?'block':'none'" style="padding: 0px;"></docselection>
            </div>
          </div>
        </div>
      </div>
      <div class="mainContent" *ngIf="tab === 'Statistics'">
        <div class="fixDoc">
          <div class="right_column" style="padding: 0%; min-height: 800px;" [style.width]="(!openDocument)?'100%':'100%'">
              <docstatistic></docstatistic>
          </div>
        </div>
      </div>
      <div class="mainContent" *ngIf="tab === 'Overview'">
        <div class="fixDoc">
          <div class="right_columnY" style="padding: 0%; min-height: 800px;" [style.width]="(!openDocument)?'100%':'100%'">
            <mat-tab-group [selectedIndex]="selectedViewTab.value"
          (selectedIndexChange)="selectedViewTab.setValue($event)" (click)="moveTab()">
            <mat-tab *ngFor="let tabView of listViewTabs; let _index = index" [label]="tabView + _index">
              <ng-template mat-tab-label>
                <div class="col" *ngIf="tabView === 'Maps'">{{'viewmap' | loc}}</div>
                <div class="col" *ngIf="tabView === 'Topics'">{{'text_attributes' | loc}}</div>
                <div class="col" *ngIf="tabView !== 'Maps' && tabView !== 'Topics' && tabView.slice(0,2) === '--'">{{'hits' | loc}} - {{tabView.slice(2).slice(0,-1) | loc}}</div>
                <div class="col" *ngIf="tabView !== 'Maps' && tabView !== 'Topics' && tabView.slice(0,2) === '++' && tabView.slice(0,2) !== '--'">{{'hits' | loc}} - {{tabView.slice(2).slice(0,-1)}}</div>
                <button *ngIf="tabView !== 'Maps' && tabView !== 'Topics'" style="color:black" mat-icon-button (click)="removeViewTab(_index)">
                  <mat-icon>close</mat-icon>
                </button>
              </ng-template>
              <div class="mainContent" *ngIf="tabView === 'Maps'">
                <div class="fixDoc">
                  <div class="right_column" style="padding: 0%; min-height: 800px;" [style.width]="(!openDocument)?'100%':'100%'">
                      <viewmap [viewMap]="viewMap"></viewmap>
                  </div>
                </div>
              </div>
              <div class="mainContent" *ngIf="tabView === 'Topics'">
                <div class="fixDoc">
                  <div class="right_column" style="padding: 0%; min-height: 800px;" [style.width]="(!openDocument)?'100%':'100%'">
                      <topicview [viewTopic]="viewTopic"></topicview>
                  </div>
                </div>
              </div>
              <div class="mainContent" *ngIf="tabView !== 'Maps' && tabView !== 'Topics' && tabView.slice(0,2) === '--'">
                <statdocs [data]="statParam" [currentTab]="tabView.slice(2)" style="padding: 4px 15px 0px 15px;"></statdocs>       
              </div>
              <div class="mainContent" *ngIf="tabView !== 'Maps' && tabView !== 'Topics' && tabView.slice(0,2) !== '--' && tabView.slice(0,2) === '++' ">
                <statdocs [data]="statParam" [currentTab]="tabView.slice(2)" style="padding: 4px 15px 0px 15px;"></statdocs>       
              </div>
            </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
      <div class="mainContent" *ngIf="tab.slice(0,2) === '--'">
        <statdocs [data]="statParam" [currentTab]="tab.slice(2)" style="padding: 4px 15px 0px 15px;"></statdocs>       
      </div>
      <div class="mainContent" *ngIf="tab !== 'Hits' && tab !== 'Overview' && tab !== 'Statistics' && tab.slice(0,2) !== '--' && tab.slice(0,2) !== '++'">
        <similardocs [data]="similarParam" [relatedDocSelection]="relatedDocType" [currentSelection]="currentSelection" style="padding: 4px 15px 0px 15px;"></similardocs>       
      </div>
    </mat-tab>
  </mat-tab-group>
  <mat-tab-group [selectedIndex]="selectedTabV.value"
               (selectedIndexChange)="selectedTabV.setValue($event)" [hidden]="openDocument" 
               [ngStyle]="{'display': activeVectorSearch ? 'block' : 'none'}">
    <mat-tab *ngFor="let tabV of listTabsV; let index = index" [label]="tabV + index">
      <ng-template mat-tab-label>
        <div class="col" *ngIf="tabV === 'Semantic' && selectedCorpus.length > 0">{{'hits' | loc}}</div>
        <div class="col" *ngIf="tabV !== 'Semantic' && tabV.slice(0,2) === '++' && tabV.slice(0,2) !== '--'">{{'hits' | loc}} - {{tabV.slice(2).slice(0,-1)}}</div>
        <div class="col" *ngIf="tabV !== 'Semantic' && tabV.slice(0,2) !== '++' && tabV.slice(0,2) !== '--'">{{tabV}}</div>
        <button *ngIf="tabV !== 'Semantic'" style="color:black" mat-icon-button (click)="removeTabV(index)">
          <mat-icon>close</mat-icon>
        </button>
      </ng-template>
      <div class="mainContent" *ngIf="tabV === 'Semantic'">
        <vectorsearch style="padding: 4px 15px 0px 15px;"></vectorsearch>       
      </div>
      <div class="mainContent" *ngIf="tabV !== 'Semantic' && tabV.slice(0,2) !== '--' && tabV.slice(0,2) !== '++'">
        <similardocs [data]="similarParam" [relatedDocSelection]="relatedDocType" [currentSelection]="currentSelection" style="padding: 4px 15px 0px 15px;"></similardocs>       
      </div>
    </mat-tab>
  </mat-tab-group>
  <div class="mainContent" [hidden]="!openDocument">
    <div class="fixDoc">
      <div class="right_columnX" style="padding: 0%; min-height: 1100px;" [style.width]="(!openDocument)?'100%':'100%'">
        <div [hidden]="!getDocRunning">
          <header style="flex: 0 1 auto; padding: 4px 15px 4px 15px;"></header>
          <mat-tab-group [selectedIndex]="selectedDocTab.value"
          (selectedIndexChange)="selectedDocTab.setValue($event)">
            <mat-tab *ngFor="let tab of listDocTabs; let index = index" [label]="tab + index">
            <ng-template mat-tab-label>
              <div class="col" *ngIf="tab === 'docView'">{{'doc_view' | loc}}</div>
              <div class="col" *ngIf="tab === 'statView'">{{'doc_stat' | loc}}</div>
            </ng-template>
            <div *ngIf="tab === 'docView'">
              <div class="tools_area">
                <div class="actual_tools">
                  <annotations-selector></annotations-selector>
                </div>
              </div>
              <indocsearch></indocsearch>
              <!---->
              <div [hidden]="currentMode === 'parallel'">
                <reader [showReader]="showSource"></reader>
              </div>
              <div [hidden]="currentMode !== 'parallel'" style="display: flex;">
                <reader [showReader]="showSource" style="width: 50%;"></reader>
                <reader [showReader]="showTarget" style="width: 50%;"></reader>
              </div>
              <!---->
              <!-- <reader></reader> -->
              <!-- <div style="display: flex;">
                <reader style="width: 100%;"></reader>
                <reader style="width: 100%;"></reader>
              </div> -->
            </div>
            <div *ngIf="tab === 'statView'">
              <document-statistic></document-statistic>
            </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</div>
</div>