<div class="left_column" *ngIf="!openDocument && gotMetadata && selectedCorpus.length > 0">
    
    <div class="attributeArea" style="flex: 0 0 30%; max-width: 100%; width: 100%; margin: 0px;">
        <mat-accordion class="right_accordion" *ngIf="basicFilter">
            <div style="padding-bottom: 20px;">
                <mat-accordion>
                    <mat-expansion-panel expanded>
                        <mat-expansion-panel-header style="height: 50px; padding: 0px; background-color: #a3c8ca; border-radius: 0.3em;">
                          <mat-panel-title style="padding-left: 12px; padding-top: 8px; font-size: medium; font-style: italic; color: chocolate">
                            {{ 'add_filter' | loc }}
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="extraInput" style="padding: 4px 4px 4px 4px; display: inline-table; height: 40px; width: 100%;">
                          <button class="closeButtonX" mat-button style="margin-left: 10px;">{{ 'sidebar_text_attributes' | loc }}</button>
                          <!-- <span style="float: right; padding: 6px 20px; margin-right: 20px; background-color: chocolate;" class="closeButton d-none d-xl-block" mat-button (click)="defaultFacets()" *ngIf="holdFacets.length > 0">{{ 'default' | loc }}</span> -->
                          <button style="float: right;" class="closeButton d-none d-xl-block" mat-button (click)="deselectFacets()" *ngIf="(basicFacets | keyvalue)?.length">{{ 'selectNone' | loc }}</button>
                        </div>
                        <div class="text_annotations_list">
                            <mat-selection-list [(ngModel)]="selectedOptions" (selectionChange)="selectFacet($event)" multiple  style="overflow-y: scroll; height: auto; max-height: 20.2vh; overflow-x: hidden;">
                                <mat-list-option checkboxPosition="before" *ngFor="let item of resultFacet" [value]="item.key">
                                    <span style="color: steelblue">{{ item.value | loc }}</span>
                                </mat-list-option>
                            </mat-selection-list>
                        </div>
                      </mat-expansion-panel>
                </mat-accordion>
            </div>
            <div *ngIf="!openDocument && gotMetadata && selectedFilters.length > 0">
                <div style="height: 50px; background-color: #a3c8ca; padding-top: 12px; border-radius: 0.3em;">
                    <span *ngIf="showFilters" style="font-size: medium; font-style: italic; padding-left: 10px; color: chocolate;">{{ 'selected_filters' | loc }}</span>
                </div>
            <div class="selectFilterArea" style="padding: 10px 10px 10px 0px; display: inline-flex; flex-wrap: wrap; max-height: 22vh; overflow-y: scroll; height: auto; overflow-x: hidden;">
                <a class="selectedFilter" *ngFor="let item of selectedFilters;  let i = index" [style.background-color]="item.color" [value]="item.key" (click)="removeFilter(item.aggsName, item.key, item.filterID);">
                    <i *ngIf="item.key === '2050'">{{'NA'}}</i>
                    <i *ngIf="item.key !== '2050'">{{item.key}}</i></a>
            </div>
            </div>
            <div *ngIf="!openDocument && gotMetadata && selectedFiltersX.length > 0">
              <div style="height: 50px; background-color: #a3c8ca; padding-top: 12px; border-radius: 0.3em;">
                  <span *ngIf="showFiltersX" style="font-size: medium; font-style: italic; padding-left: 10px; color: chocolate;">{{ 'xclude' | loc }}</span>
              </div>
            <div class="selectFilterArea" style="padding: 10px 10px 10px 0px; display: inline-flex; flex-wrap: wrap; max-height: 22vh; overflow-y: scroll; height: auto; overflow-x: hidden;">
                <a class="selectedFilter" *ngFor="let item of selectedFiltersX;  let i = index" [style.background-color]="item.color" [value]="item.key" (click)="removeFilterX(item.aggsName, item.key, item.filterID);">
                  <i *ngIf="item.key === '2050'">{{'NA'}}</i>
                  <i *ngIf="item.key !== '2050'">{{item.key}}</i></a>
            </div>
              </div>
            <div style="height: 50px; background-color: #a3c8ca; padding-top: 12px; border-radius: 0.3em;">
                <span style="font-size: medium; font-style: italic; padding-left: 10px; color: chocolate">{{ 'applyFilter' | loc }}</span>
            </div>
            <div style="height: 10px;"  *ngIf="loadFilter">
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
          <div *ngFor="let item of filterDataBasic; let i = index" style="padding-bottom: 10px; border: 0.5px solid #eeeeee">
            <mat-accordion>
                <mat-expansion-panel style="border-radius: 0.3em;">
                    <mat-expansion-panel-header style="height: 50px; padding: 0px; background-color: #d9eaeb;">
                      <mat-panel-title style="padding-left: 12px;">
                          {{ item.id | loc}}
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="text_annotations_list" style="display: grid;">
                      <div style="overflow: auto;">
                        <div class="exclude-option" style="padding: 10px 10px 10px 0px;">
                          <i-bs title="Exclude" style="color: red;" name="x-square-fill" width="20" height="20"></i-bs>
                        </div>
                        <!-- <div class="include-option" style="padding: 10px 10px 10px 15px;">
                          <i-bs title="Include" style="color: green;" name="check-square-fill" width="20" height="20"></i-bs>
                        </div> -->
                        <div class="data-option" style="padding-right: 15px;">
                          <button class="closeButtonX" mat-button (click)="sortName(filterDataBasic[i]['id'])" style="margin-left: 30px;">
                            <span>{{ 'name' | loc }}</span>
                            <i-bs style="margin-left: 4px;" name="arrow-down-up" width="16" height="16"></i-bs>
                          </button>
                          <button class="closeButtonX" mat-button (click)="sortCount(filterDataBasic[i]['id'])" style="float: right">
                            <span>{{ 'frequency' | loc }}</span>
                            <i-bs style="margin-left: 4px;" name="arrow-down-up" width="16" height="16"></i-bs>
                          </button>
                        </div>
                      </div>
                      <div  style="overflow:auto">
                        <div class="exclude-option">
                          <mat-selection-list [formControl]="collectControlX.controls[i]" multiple  style="height: auto; max-height: 20.2vh;">
                            <mat-list-option checkboxPosition="before" *ngFor="let topping of filterDataBasic[i]['data']" [value]="topping.key" (click)="selectChange($event, 'exclude', filterDataBasic[i]['id'], topping.key)">
                            </mat-list-option>
                        </mat-selection-list>
                        </div>
                        <!-- <div class="include-option">
                          <mat-selection-list [formControl]="collectControl.controls[i]" multiple  style="height: auto; max-height: 20.2vh;">
                            <mat-list-option checkboxPosition="before" *ngFor="let topping of filterDataBasic[i]['data'].buckets" [value]="topping.key" (click)="selectChange($event, 'include', filterDataBasic[i]['id'], topping.key)">
                            </mat-list-option>
                        </mat-selection-list>
                        </div> -->
                        <div class="data-option">
                          <mat-selection-list [formControl]="collectControl.controls[i]" multiple style="height: auto; max-height: 20.2vh;">
                            <mat-list-option checkboxPosition="before" *ngFor="let topping of filterDataBasic[i]['data']" [value]="topping.key" (click)="selectChange($event, 'include', filterDataBasic[i]['id'], topping.key)">
                                <span style="color: steelblue;">{{topping.key.replace('2050','N/A').split('_').join(' ')}}</span><span style="color: steelblue; float: right;">({{topping.doc_count}})</span>
                            </mat-list-option>
                        </mat-selection-list>
                        </div>
                      </div>
                    </div>
                  </mat-expansion-panel>
            </mat-accordion>
          </div>
        </mat-accordion>
    </div>
  </div>
  