:host {
    /*background-color: lightyellow;*/
    /*background: linear-gradient(to bottom, rgba(100,100,100,1) 0%,rgba(40,40,40,1) 100%); */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /*box-shadow: 2px 3px 8px grey;*/
    border-right: 0px solid grey;
    display: block;
    min-height : 0vh;
    height: max-content;
  }
  
  :host:before {
    display: block;
    /*height: 4px;
    background-color : #F0C808;
    content: "";*/
  }
  
  h3,h4,h5 {
    color : white;
  }
  h4::first-letter {
    text-transform: uppercase;
  }
  .unused_facets h5 {
    font-variant: small-caps;
    text-transform: lowercase;
    font-size: 0.9em;
    margin-top: 2em;
  }
  .unused_facets ul {
    font-size : 0.8em;
  }
  
  
  .filters_area {
    padding: 10px;
    height: 110px;
  }
  
  .corpus_item {
    cursor: pointer;
  }
  .aggregation_list {
    margin-top: 1px;
  }
  .aggregation_list ul li {
    font-size : 0.8em;
  }
  .aggregation_item {
    cursor: pointer;
  }
  .purge_aggregation_button {
    cursor: pointer;
    display: block;
    position: static;
    right: 2px;
  }
  .purge_corpus_button {
    cursor: pointer;
    display: inline-block;
  }
  
  .selected_frame {
    /*border: 1px solid black;*/
    padding-left: 4px;
    padding-right: 4px;
    background-color: #f1f8fc;
    box-shadow: 1px 1px grey;
  }
  
  .logo_block {
    cursor: pointer;
    margin: 2em 0 1em 0;
  }
  .logo_block img {
    display: block;
    margin: 0 auto;
  }
  
  ::ng-deep .ui-select-match-item {
    max-width: 100%;
    text-overflow: ellipsis;
    overflow-x: hidden;
  }
  
  ::ng-deep .ui-select-choices-row > a {
    padding-left : 10px !important;
  }
  
  .range {
    padding-left: 0.4em;
    padding-right: 1em;
  }
  
  
  /* make dropdown arrow align better in buttons 
  .menuTrigger .mat-icon {
      margin-right: -8px;
  }
  
  /* handle visiblity of checkboxes in simple menu 
  .mat-menu-item .mat-icon.checked {
      display: none;
      pointer-events: none;
    }
    .mat-menu-item .mat-icon.empty {
      pointer-events: none;
    }
  
  .mat-menu-item.selected .mat-icon.empty {
      display: none;
    }
    .mat-menu-item.selected .mat-icon.checked {
      display: unset;
    } */
  
  
    .example-tree-invisible {
      display: none;
    }
    
    .example-tree ul,
    .example-tree li {
      margin-top: 0;
      margin-bottom: 0;
      list-style-type: none;
    }
    
    /*
     * This padding sets alignment of the nested nodes.
     */
    .example-tree .mat-nested-tree-node div[role=group] {
      padding-left: 10px;
    }
    
    /*
     * Padding for leaf nodes.
     * Leaf nodes need to have padding so as to align with other non-leaf nodes
     * under the same parent.
     */
    .example-tree div[role=group] > .mat-tree-node {
      padding-left: 40px;
    }
  
    .pad {
      width: 40px;
  }

  .left_column a {
    font-family: "Source Sans Pro",Helvetica,Arial,Verdana,sans-serif;
    font-size: small;
    /* background-color: rgb(252, 248, 248); */
    color: black;
    border: 1px solid #ddd;
  }

  .left_column a.active {
    background-color: rgb(105, 211, 246);
  }

  .left_column ul {
    padding: 10px 10px 4px 10px;
    border: 0px;
    border-radius: 1px;
    background-color: transparent;
  }

  .topnav {
    position:relative;
    overflow: hidden;
    width: 100%;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
  }
  
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 10px 4px;
    text-decoration: none;
    font-size: small;
    font-family: "Source Sans Pro",Helvetica,Arial,Verdana,sans-serif;
  }
  
  .topnav b {
    float:left;
    color: black;
    text-align: center;
    padding: 10px 4px;
    text-decoration: none;
    font-size: small;
    font-family: "Source Sans Pro",Helvetica,Arial,Verdana,sans-serif;
  }
  
  .topnav a:hover {
    color: red;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

  .mat-form-field {
    font-family: "Source Sans Pro",Helvetica,Arial,Verdana,sans-serif;
    font-size: small;
  }

  .dropdown-menu {
    top: 30px;
    right: 0;
    left: auto;
    font-size: small;
    font-family: "Source Sans Pro",Helvetica,Arial,Verdana,sans-serif;
    padding: 0px;;
  }

  .dropdown-toggle::after {
    content: none;
  }

  .dropdown-item {
    border: none;
    padding: 10px;
  }

  /* ::ng-deep .filters_area .mat-form-field-label-wrapper {
    top: -1.5em;
    padding-top: 0.4375em;
  } */

   /* background-color: cadetblue !important;*/
  ::ng-deep .filters_area1 .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0 0;
}

::ng-deep .filters_area1 .basicF .mat-form-field-appearance-outline {
  background-color: lightblue !important;  /* rgb(170, 243, 240) !important; */
  border-radius: 4px;
}

::ng-deep .filters_area1 .advanceF .mat-form-field-appearance-outline {
  background-color: rgb(169, 222, 117) !important;
  border-radius: 4px;
}

::ng-deep .mat-select-panel {
  min-width: 18.5vw !important;
}

::ng-deep .filters_area1 .mat-form-field {
  width: 200px;
  height: 40px;
}

::ng-deep .filters_area1 .nav-link {
  padding-top: 10px;
  height: 40px;
  border-radius: 4px;
  display: flex;
  /* flex-direction: column;
  justify-content: center; */
  text-align: center;
}

::ng-deep .selectFilterArea .selectedFilter {
  max-width: fit-content;
  padding: 10px;
  height: 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-right: 10px;
}

.left_column {
  max-height: 199px;
}

.filter_btn {
  font-size: small;
  /* color: blue; */
}

.basic {
  background-color: lightblue !important;  /* rgb(170, 243, 240) !important; */
}

.advance {
  background-color: rgb(169, 222, 117) !important;
}

::ng-deep .cdk-overlay-pane {
  transform: translateX(-9px) translateY(22px) !important;
}

.text_annotations_list {
    font-family: "Source Sans Pro",Helvetica,Arial,Verdana,sans-serif;
    font-size: small;
  }

::ng-deep .mat-list-option {
    height: 40px !important;
    font-size: small !important;
    font-family: "Source Sans Pro",Helvetica,Arial,Verdana,sans-serif !important;
    border: 0.5px solid #ddd;
    border-radius: 4px;
}

::ng-deep .mat-expansion-indicator {
    /* transform: rotate(266deg); */
    margin-right: 20px;
}

::ng-deep .filterSide .mat-expansion-panel-content .mat-expansion-panel-body {
    padding: 0px !important;
}

::ng-deep .mat-list-base {
    padding: 0px !important;
}

::ng-deep .mat-list-text {
  display: inline-block !important;
}

::ng-deep .mat-list-option {
  border-radius: 0px !important;
}

::ng-deep .extraInput .mat-form-field-appearance-outline .mat-form-field-wrapper {
  padding-bottom: 0px !important;
}

::ng-deep .extraInput .mat-form-field-appearance-outline .mat-form-field-flex {
  border-radius: 4px;
  background-color: transparent !important;
  height: 40px;
}

::ng-deep .extraInput .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0px;
  border-top: 0px;
}

::ng-deep .extraInput .mat-form-field-appearance-outline .mat-input-element {
  height: 40px;
  font-size: 14px;
}

.closeButton {
  padding: 0px 20px 0px 20px;
  font-size: small;
  font-weight: 400;
  background-color: lightblue;
  margin-right: 0px;
  margin-left: 10px;
}

.closeButtonX {
  padding: 0px;
  font-size: small;
  font-weight: bold;
  background-color: transparent;
  margin-left: 0px;
}

::ng-deep .mat-checkbox-layout {
  margin-bottom: 0px !important;
}

.include-option{width:50px; float:right;}
.exclude-option{width:50px; float:right;}
.data-option{width:calc(100% - 50px); float:left;}
/* ::ng-deep .data-option .mat-pseudo-checkbox{display:none !important;} */
.data-option .mat-list-item, .include-option .mat-list-item, .exclude-option .mat-list-item{height:109px;}
::ng-deep .include-option .mat-pseudo-checkbox-checked{background-color: green !important;}
::ng-deep .exclude-option .mat-pseudo-checkbox-checked{background-color: red !important;}

::ng-deep .attributeArea .mat-pseudo-checkbox-checked{background-color: chocolate !important;}

::ng-deep .mat-progress-bar-fill::after {
  background-color: chocolate;
}

::ng-deep .mat-progress-bar-buffer {
  background: cadetblue;
}

::ng-deep .mat-progress-bar {
  height: 10px !important;
}