.mini_doc_selection_area {
    margin-left: 10px;
    margin-right: -1px;
    padding: 6px;
    background-color: #f7f7f7;
    border-left: 1px solid grey;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    font-size: small;
}

a {
    cursor: pointer;
}