.mini_doc_selection_area {
    margin: 10px;
    padding : 6px;
    background-color : #f7f7f7;
    border-left : 1px solid grey;
    border-top : 1px solid grey;
    border-bottom : 1px solid grey;
    border-top-left-radius : 3px;
    border-bottom-left-radius : 3px;
    font-size : small;
}

.mini_doc_header {
    margin-top : 4px;
    margin-bottom : 4px;
}

.hit_box {
    border-bottom : 1px dashed #337ab7;
}
.hit_box:last-child {
    border-bottom : 0px;
}

.button_previous {
    cursor : pointer;
}

.button_next {
    cursor : pointer;
}
