<div>
    <ul class="navbar-nav" style="display: flex; gap: 10px; align-items: baseline;">
        <li class="nav-item" [style.color]="this.modeSelection['default'] ? 'chocolate' : 'black'" (click)="chooseMode('default', 'continue');">
            <a>{{ 'Modern' | loc }}</a>
        </li>
        <li class="nav-item" *ngIf="minkMode" [style.color]="this.modeSelection['mink'] ? 'chocolate' : 'black'" (click)="chooseMode('mink', 'continue');"> <!--style="cursor: default; pointer-events: none;" -->
            <a>{{ 'Mink' | loc }}</a>
        </li>
        <!---->
        <li *ngIf="parallelMode" [style.color]="this.modeSelection['parallel'] ? 'chocolate' : 'black'" (click)="chooseMode('parallel', 'continue');"> <!--[style.color]="'gray'" style="cursor: default; pointer-events: none;" -->
            {{ 'Parallel' | loc }}
        </li>
        <!---->
        <!-- <li class="nav-item" [style.color]="'gray'" style="cursor: default; pointer-events: none;" (click)="chooseMode('parallel', 'continue');">
            <a>{{ 'Parallel' | loc }}</a>
        </li> -->
        <li class="nav-item" [style.color]="this.modeSelection[visibleMode] ? 'chocolate' : 'black'" *ngIf="visibleMode !== ''" (click)="chooseMode(visibleMode, 'continue');">
            <a>{{ listMode[visibleMode] | loc }}</a>
        </li>
        <li class="nav-item dropright">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" style="padding: 0px; color: black; display: flex;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
            {{'more' | loc}} <i-bs name="chevron-double-down" width="15" height="15" style="padding-right: 0px;"></i-bs>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="padding: 0px;">
                <ng-container *ngFor="let item of modeCollection | keyvalue">
                    <a class="dropdown-item"  [style.color]="this.modeSelection[item.key] ? 'chocolate' : '#212529'" (click)="chooseMode(item.key, 'continue');" *ngIf="item.key !== 'default' && item.key !== visibleMode && item.key != 'mink' && item.key != 'parallel'">
                        {{ listMode[item.key] | loc }}
                    </a>
                </ng-container>
            </div>
        </li>
    </ul>
</div>