<div>
    <div class="filter_btn small btn-sm btn-success" *ngFor="let item of selected" (click)="onDeselect(item)">
      <span class="label">{{item.key}}&nbsp;</span>
      <span class="labelremove">Ta bort filter</span>
      <div class=" purge_filter_button pull-right" ><i class="fa fa-times-circle"></i></div>
    </div>
    
      <input [(ngModel)]="typeaheadSelected"
             [typeahead]="getRemaining()"
             (typeaheadOnSelect)="dropdownSelected($event)"
             typeaheadOptionField="key"
             [typeaheadItemTemplate]="itemTemplate"
             [placeholder]="('list_choose' | loc) + ' (' + remaining.length + ' ' + ('options' | loc) + ')'"
             [typeaheadMinLength]="0"
             [typeaheadOptionsLimit]="100"
             (click)="onInputClick($event)"
             class="form-control"/>
    
    <ng-template #itemTemplate let-item="item" let-index="index">
      {{getLocString(item.key) | loc:item.key}} ({{item.doc_count}})
      
    </ng-template>
</div>