/* You can add global styles to this file, and also import other style files */

/* General utility styles */

a {
  cursor : pointer;
  /*color : #086788;*/
}

.clear {
  clear: both;
}

.form-control {
  border-radius : 3px !important;
}

/* CodeMirror related */

.cm-hidden {
  background-color: #ddd;
  color: black;
}
.cm-underlined {
  color: #337ab7;
}
.cm-variable-2 {
  display: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.CodeMirror-cursor {
    display: none;
}

.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: arial !important;
  height: 100% !important;
  /* height: 600px !important; */
  /* width: 800px; */
}

.CodeMirror-focused {
  outline: auto 5px -webkit-focus-ring-color;
  outline-offset: 0;
}

/* Because Firefox otherwise destroys empty lines. */
.CodeMirror-line::after {
  content : '.';
  visibility: hidden;
}

em {
  font-weight: bold;
  font-style: normal;
}

/* textarea {
    display: none;
} */

body {
  font-family : "Gill sans";
}

@media screen and (min-width: 601px) {
  .CodeMirror {
    margin-right: 200px !important;
  }
}
/* Mobile */
@media screen and (max-width: 600px) {
  .CodeMirror {
    margin-right: 0px !important;
  }
}


/* Histogram */
.x_tick {
  border : none;
}
.title {
  bottom : -1.4em;
}
            
.svg {
  margin-bottom: 2em;
}

.graph {
  display: none;
}

.rickshaw_range_slider_preview_container {
  width: 380px;
  height: 44px;
  background-color: #f1f8fc;
}

/* Filter boxes */

.filter_box {
  background-color: #f1f8fc;
  box-shadow: 1px 1px 2px grey;
  display: inline-block;
  margin-right: 6px;
  padding: 2px;
  padding-left: 4px;
  padding-right: 4px;
}
.filter_box_corpus {
  border: 1px solid yellow;
  text-align: center;
}

.purge_filter_button {
  display: inline-block;
  cursor: pointer;
  margin-right: 2px;
}