/* You can add global styles to this file, and also import other style files */
@import "~nouislider/distribute/nouislider.min.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* General utility styles */

html,body {
  height: 100%;
}

.clearfix {
  &::after {
      display: block;
      content: "";
      clear: both;
    }
}

.dropdown-menu {
  max-height : 300px;
  overflow-y: auto !important;
}
.dropdown-item {
  cursor: pointer;
}
a {
  cursor : pointer;
  /*color : #086788;*/
}
a.disabled {
  color : inherit !important;
  text-decoration : none !important;
  cursor : default !important;
}
a:not([href]):not([tabindex]) {
  color : #086788;
}
a:not([href]):not([tabindex]):hover {
  text-decoration: underline;
}

.clear {
  clear: both;
}

.color-white {
  color: white;
}

h5 {
  margin-top: 0.4em;
}

.form-control {
  border-radius : 3px !important;
}

.logos {
  text-align: center;
}
.logos div {
  margin-bottom: 1em;
}

/* CodeMirror related */

.cm-annotation-0 {
  color: #1f77b4;
}
.cm-annotation-1 {
  color: #ff7f0e;
}
.cm-annotation-2 {
  color: #2ca02c;
}
.cm-annotation-3 {
  color: #9467bd;
}
.cm-annotation-4 {
  color: #d62728;
}

.cm-hidden {
  background-color: #ddd;
  color: black;
}
.cm-underlined {
  /*color: #337ab7;*/
  /* background-color: #086788;
  color: white; */
  background-color: yellow;
  color: black;
  /* font-weight: bold;
  font-size: 14px; */
}
.cm-variable-2 {
  display: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.CodeMirror-cursor {
    display: none;
}

.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  /*font-family: Nunito, arial !important;*/
  /* height: 100% !important; */
  height: 700px !important;
  /* width: 800px; */
}

.CodeMirror {
  font-family: Roboto,Helvetica Neue,sans-serif;
  /* font-family: "Source Sans Pro",Helvetica,Arial,Verdana,sans-serif; */
  /* font-size: small; */ 
  }

.CodeMirror-focused {
  outline: auto 5px -webkit-focus-ring-color;
  outline-offset: 0;
}

/* Because Firefox otherwise destroys empty lines. */
.CodeMirror-line::after {
  content : '.';
  visibility: hidden;
}

.CodeMirror-sizer {
  width: 941px;
}

em {
  font-weight: bold;
  font-style: normal;
}

/* textarea {
    display: none;
} */

body {
  font-family : -apple-system, BlinkMacSystemFont, "Segoe UI", 
                  Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
                  "Segoe UI Emoji", "Segoe UI Symbol"; 
                  /*Nunito, arial, sans-serif;*/
  padding-left : 1em;
  font-size: small;
}

@media screen and (min-width: 601px) {
  .CodeMirror {
    margin-right: 0px !important;
  }
}
/* Mobile */
@media screen and (max-width: 600px) {
  .CodeMirror {
    margin-right: 0px !important;
  }
}


/* Histogram */
.x_tick {
  border : none;
}
.title {
  bottom : -1.4em;
}
            
.svg {
  margin-bottom: 2em;
}

.graph {
  display: none;
}

.rickshaw_range_slider_preview_container {
  width: 380px;
  height: 44px;
  background-color: #f1f8fc;
}

/* Filter boxes */

.filter_box {
  background-color: #f1f8fc;
  /*box-shadow: 1px 1px 2px grey;*/
  /*display: inline-block;*/
  /*margin-right: 6px;
  padding: 2px;
  padding-left: 4px;
  */padding-right: 4px;
}
.filter_box_corpus {
  border: 1px solid yellow;
  text-align: center;
}

.purge_filter_button {
  display: inline-block;
  cursor: pointer;
  margin-right: 2px;
}

.left_column ul, .left_column input {
  background-color : #e8e8e8;
}

.left_column ul {
  padding: 2px;
  border-radius : 3px;
  border : 1px solid lightgrey ;
}

.left_column li {
  list-style-type: none;
  padding: 3px 10px;
}
.left_column li:hover {
  /*color : white;*/
  background-color : lightgrey;
}
.left_column li.selected:hover {
  color : inherit;
  background-color : inherit;
}
.left_column li:last-child {
  border-bottom: 0px;
}


/* filter button */

.filter_btn {
  position: relative;
  height : 2.1em;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}
.filter_btn.small {
  margin-bottom: 0.2em;
}

.filter_btn .label, .filter_btn .labelremove {
  transition: opacity 200ms;
  position: absolute;
  left: 0.0em;
}
.purge_filter_button {
  transition: opacity 200ms;
}
.filter_btn .label {
  opacity : 1;
}

.filter_btn:hover .label {
  opacity : 1;
}

.filter_btn .labelremove, .filter_btn .purge_filter_button {
  opacity : 1;
}
/* .filter_btn:hover .labelremove, .filter_btn:hover .purge_filter_button {
  opacity : 1;
} */

/* end filter button */

.card-body {
  padding: 4px;
}
.card-header {
  padding: 0.50rem 1.0rem;
  cursor: pointer;
}

/* .CodeMirror-selected {
  border: 1px solid black !important;
  background: black !important;
  color: white !important;
  border-radius: 4px;
} */

.noUi-connect {
  background-color : #F0C808;
}

.noUi-horizontal {
    height: 7px;
}
.noUi-horizontal {
    height: 7px;
}

.noUi-target {
  border: 1px solid #d8c35f;
}

.noUi-horizontal .noUi-handle {
  width: 24px;
  height: 18px;
}
.noUi-handle:after, .noUi-handle:before {
  left: 9px;
  top: 1px;
}

.noUi-handle:after {
    left: 13px;
}

::ng-deep .cdk-overlay-container .mat-form-field {
  font-family: "Source Sans Pro",Helvetica,Arial,Verdana,sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  display: none !important;
}

/* .mat-form-field-appearance-outline .mat-form-field-flex {
  background-color: cadetblue;
  border-radius: 4px;
} */

.mat-expansion-panel-content {
  background-color: white;
  font-family: "Source Sans Pro",Helvetica,Arial,Verdana,sans-serif; 
}

.mat-expansion-panel-body {
  padding: 16px 24px 16px !important;
}

.mat-form-field-label {
  padding-left: 10px;
  font-family: "Source Sans Pro",Helvetica,Arial,Verdana,sans-serif;
  color: rgba(0,0,0,.87);
} 
.mat-expansion-panel-header {
  font-family: "Source Sans Pro",Helvetica,Arial,Verdana,sans-serif;
  font-size: 14px;
  font-weight: 400;
}

/* ::ng-deep .cdk-overlay-pane {
  width: 300px;
  padding: 42px 0px 0px 32px;
}

::ng-deep .mat-select-panel {
  min-width: calc(100% + 29px) !important;
} */