:host {
  display : block;
}

.fa.fa-spinner {
  opacity : 0;
  transition: opacity 300ms ease-in-out;
}
.fa.fa-spinner.fade_in {
  opacity : 1;
  transition: opacity 300ms ease-in-out;
}

.search_area {
}

.search_widget {
  display: inline-block;
  vertical-align: middle;
}
.search_widget + button {
  vertical-align: middle;
  padding: 7px 10px;
  height: 100%;
}
.simple_searchbox {
  margin-right: 5px;
}

.filters_area {
  margin-top: 20px;
}

.filter_box {
  background-color: #f1f8fc;
  box-shadow: 1px 1px 2px grey;
  display: inline-block;
  margin-right: 6px;
  padding: 2px;
  padding-left: 4px;
  padding-right: 4px;
}

.purge_filter_button {
  display: inline-block;
  cursor: pointer;
  margin-right: 2px;
}

.histogram_box {
  margin-top: 10px;
  width: 600px;
}