<div class="search_area">
  <div class="row" style="display: block">
    <div class="search_widget col-md-12 wrapper" *ngIf="searchType=='normal' && !vectorSearch">
      <input type="text" id="inputText"
        class="form-control simple_searchbox"
        [(ngModel)]="asyncSelected"
        (keydown.Enter)="simpleSearch()"
        (click)="onChangeEvent($event)"
        (input)="onChangeEvent($event)"
        [formControl]="myControl"
        placeholder="word or phrase"
        [matAutocomplete]="auto"
        value="asyncSelected"
        />
        <mat-autocomplete requireSelection #auto="matAutocomplete" (optionSelected)="getLemgram()">
          <mat-option *ngFor="let option of filteredOptions" [value]="option">
            {{option.split('..')[0].split('_').join(' ')}}<sup>{{option.slice(-1).replace('1', '')}}</sup>({{option.split('..')[1].split('.')[0] | loc }})
          </mat-option>
      </mat-autocomplete>
        <i class="d-none d-lg-block" *ngIf="asyncSelected" style="right: 43%; padding-top: 14px;" (click)="clearSimpleSearch()"><mat-icon style="height: 10px; width: 10px;">close</mat-icon></i>
        <button mat-button (click)="simpleSearch()" style="border: 1px solid #ddd; padding: 0px; min-width: 50px;">
          <i-bs name="search" width="20" height="20"></i-bs>
        </button>
        <!-- <button mat-button [matMenuTriggerFor]="menu" style="border: 1px solid #ddd; padding: 0px; min-width: 50px;">
          <i-bs name="info-circle" width="20" height="20"></i-bs>
        </button> -->
        <mat-menu #menu="matMenu" xPosition="before">
          <h6 style="padding: 10px;">How simple search works?</h6>
          <div class="row" style="margin-left: 20px; margin-right: 20px; font-size: small; font-weight: 400; padding: 10px;">
            <div class="col-xl-3">
              <span>1. Free text:</span>
            </div>
            <div class="col-xl-9" style="display: inline-grid;">
              <a tabindex>In free text search the search engine looks:</a>
              <ul tabindex>
                <li>For each token(s) as well as all the combination of tokens.</li>
                <li>Exact token(s) and the lexical entry</li>
                <li>Examples</li>
                <ul tabindex>
                  <li><i>regering</i></li>
                  <li><i>rödgröna regering</i></li>
                  <li><i>ekonomisk utveckling</i></li>
                </ul>
              </ul>
            </div>
          </div>
          <div class="row" style="margin-left: 20px; margin-right: 20px; font-size: small; font-weight: 400; padding: 10px;">
            <div class="col-xl-3">
              <span>2. Single phrase:</span>
            </div>
            <div class="col-xl-9" style="display: inline-grid;">
              <a tabindex>Search for the exact phrase that is enclosed inside the double quotes ("")</a>
              <ul tabindex>
                <li>Examples</li>
                <ul tabindex>
                  <li><i>"framgångsrikt land"</i></li>
                  <li><i>"öppet för förändringar"</i></li>
                </ul>
              </ul>
            </div>
          </div>
          <div class="row" style="margin-left: 20px; margin-right: 20px; font-size: small; font-weight: 400; padding: 10px;">
            <div class="col-xl-3">
              <span>3. Multiple phrases:</span>
            </div>
            <div class="col-xl-9" style="display: inline-grid;">
              <a tabindex>Multiple phrase option searches for the phrases that are enclosed with double quotes.</a>
              <br>
              <ol tabindex type="1">
                <li><i><b>and</b></i></li>
                <a tabindex>Two phrases are seperated either by keyword <b>and</b> or by empty space in between the phrases as shown in the examples below.</a>
                <ul tabindex>
                  <li>Examples</li>
                  <ul tabindex>
                    <li>"centerns politik" and "rättigheter"</li>
                    <li>"garanteras trygghet" "humanism"</li>
                  </ul>                
                </ul>
                <li><i><b>or</b></i></li>
                <a tabindex>Two phrases are seperated by keyword <b>or</b> in between the phrases as shown in the examples below.</a>
                <ul tabindex>
                  <li>Examples</li>
                  <ul tabindex>
                    <li>"centerns politik" or "rättigheter"</li>
                    <li>"garanteras trygghet" or "humanism"</li>
                  </ul>                
                </ul>
              </ol>
            </div>
          </div>
        </mat-menu>
    </div>
    <div style="display: inline-flex;" *ngIf="vectorSearch">
      <div class="search_widget col-md-12" *ngIf="searchType=='normal'">
        <textarea class="form-control vector_string" *ngIf="vectorSearch" 
            id="text" name="text" rows="4" cols="100" resize="none"
            [(ngModel)]="asyncSelectedV" placeholder="word, phrase or document"></textarea>
      </div>
      <div style="padding-top: 30px;">
        <button mat-button (click)="simpleSearch()" style="border: 1px solid #ddd; padding: 0px; min-width: 50px;">
          <i-bs name="search" width="20" height="20"></i-bs>
        </button>
      </div> 
    </div> 
    <div class="search_widget" *ngIf="searchType=='lemgram'">
      <ng-template #lemgramItemTemplate let-model="item" let-index="index">
        <span>{{model | lemgram}}</span>
      </ng-template>
    </div>
  </div>
  <div class="clear"></div>
</div>
