<div class="search_area">
  <div dropdown (onToggle)="toggled($event)" (click)="$event.preventDefault()">
      <!-- Sök på <a href id="simple-dropdown" dropdownToggle style="visibility:hidden">
        {{searchType}}&nbsp;<i class="fa fa-caret-down"></i>
      </a> -->
      <br>
      <!--<ul class="dropdown-menu" dropdownMenu aria-labelledby="simple-dropdown">
        <li>
          <a class="dropdown-item" href="#" (click)="searchType='normal'">textsträng</a>
        </li>
        <li class="divider dropdown-divider"></li>
        <li *ngFor="let choice of searchableAnnotations">
          <a class="dropdown-item" href="#" (click)="searchType=choice">{{choice}}</a>
        </li>
      </ul>-->
    </div>
    <div class="row">
      <div class="search_widget col-md-8" *ngIf="searchType=='normal'">
        <input type="text"
          class="form-control simple_searchbox"
          [(ngModel)]="asyncSelected"
          (keydown.Enter)="simpleSearch()"/>

          <label for="keyword_search">{{'keyword_search' | loc}}</label>
          <input type="checkbox" class="" id="keyword_search" 
            [(ngModel)]="isKeywordChecked"
            (change)="keywordChange(isKeywordChecked)"
          >
      </div>
      <div class="search_widget" *ngIf="searchType=='lemgram'">
        <template #lemgramItemTemplate let-model="item" let-index="index">
          <span>{{model | lemgram}}</span>
        </template>
        <input
          type="text"
          class="form-control simple_searchbox"
          [(ngModel)]="asyncSelected"
          [typeahead]="dataSource"
          [typeaheadWaitMs]="300"
          [typeaheadItemTemplate]="lemgramItemTemplate"
          (typeaheadOnSelect)="typeaheadOnSelect($event)"/>
        </div>
        <button (click)="simpleSearch(false)" class="btn btn-sm btn-primary"><i class="fa fa-search"></i>&nbsp;Sök</button>
    </div>
  <div class="clear"></div>
  <!--<div class="histogram_box">
    <histogram
      [indata]="histogramData"
      [selection]="histogramSelection"
      (dates)="changeDates($event)"></histogram>
  </div>-->
  <div class="clear"></div>
  <div class="filters_area">
    <div *ngFor="let filter of currentFilters" class="filter_box">
      <span *ngIf="filter.field !== 'datefrom'">{{filter.field}} = {{filter.value}}&nbsp;</span>
      <span *ngIf="filter.field === 'datefrom'"><i class="fa fa-calendar"></i>&nbsp;{{filter.value.range.gte}} – {{filter.value.range.lte}}&nbsp;</span>
      <div class="purge_filter_button" (click)="purgeFilter(filter.field)"><i class="fa fa-times-circle"></i></div>
    </div>
  </div>
  <div style="height: 1em;">
    <i [ngClass]="{fade_in : isSearching}" class="fa fa-spinner fa-pulse"></i>
  </div>
</div>